.win-backbutton { color: #5A5A5A; background-color: transparent; border-color: #5A5A5A; }
.win-backbutton:hover:active { color: #FFF; background-color: #000; border-color: #000; }
.win-backbutton:disabled,
.win-backbutton:disabled:active { color: rgba(0, 0, 0, 0.4); background-color: transparent; border-color: rgba(0, 0, 0, 0.4); }
.win-backbutton:hover { color: #000; text-decoration: none; background-color: rgba(0, 0, 0, 0.13); border-color: #000;}
.win-backbutton::before { vertical-align: 0%!important; }
.win-backbutton.home::before { content:"\0021"!important; }
.metro-button { display: inline-block; width:20px; height:20px; min-width: 0; min-height: 0; padding: 0; margin-bottom:20px;
	font-size:14px; line-height:20px; text-align: center; vertical-align: 0%; border-style: solid; border-width: 2px;
	-webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; background-clip: border-box; color: #5A5A5A;
	background-color: transparent; border-color: #5A5A5A; cursor:pointer; }
.metro-button.reload:before { font-family: 'IcoMoon'; font-weight: normal; vertical-align: 20%; content: "\e1db"; }
.metro-button.reload:hover { color: #000; text-decoration: none; background-color: rgba(0, 0, 0, 0.13); border-color: #000; }
.metro-button.back:before { font-family: 'IcoMoon'; font-weight: normal; vertical-align: 20%; content: "\e05d"; }
.metro-button.back:hover { color: #000; text-decoration: none; background-color: rgba(0, 0, 0, 0.13); border-color: #000; }
button,
.button {
  font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size:12px;
  font-smooth: always;
  min-width: 90px;
  min-height: 32px;
  height: 32px;
  background-color: #ccc;
  border: 1px transparent solid;
  color: #353535;
  /*margin-right: 10px;*/
  margin-bottom: 10px;
  border-raduis: 0;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding:10px;
  line-height:12px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
button.standart,
.button.standart {
  min-width: 90px;
  min-height: 32px;
}
button:active,
.button:active,
button.default:active,
.button.default:active {
  top: 1px;
  left: 1px;
}
button:disabled,
.button:disabled,
button.disabled,
.button.disabled {
  background-color: #eaeaea;
  color: #bebebe;
  cursor: not-allowed;
}
button.default,
.button.default {
  background-color: #008287;
  color: #fff;
}
button:focus,
.button:focus {
  outline: 0;
  border: 1px #353535 dotted;
}
a.button:hover {
  text-decoration:none
}
a.button:hover,
a.button:active {
  color: inherit;
}
a.button.big {
  padding: 14px 10px;
}
button.mini i,
.button.mini i {
  font-size:11px!important;
}
button.mini,
.button.mini,
.tool-button.mini {
  min-height: 24px;
  min-width: 26px;
  padding:8px;
  height: 26px;
  font-size:10px;
  line-height:10px;
}
button.big,
.button.big,
.tool-button.big {
  min-height:38px;
  height:38px;
  padding:6px 12px;
  font-size:16px;
  line-height:16px;
}
.tool-button.mini {
  min-width: 22px;
  width: 22px;
}
.tool-button.big {
  min-width: 48px;
  width: 48px;
}
.command-button {
  width: 100%;
  text-align: left;
  padding: 10px 20px;
  height: auto;
  color: #000;
  background-color: #ccc;
  font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 11pt;
  letter-spacing: 0.02em;
  line-height: 20px;
  font-smooth: always;
}
.command-button.white { color:white }
.command-button  > small {
  display: block;
  font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 11pt;
  letter-spacing: 0.02em;
  line-height: 20px;
  font-smooth: always;
  font-size: 10pt;
  color: #505050;
}
.command-button.white > small { color:#F8F8F8 }
.command-button.default  > small { color: #ccc; }
.tool-button {
  font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 9pt;
  font-smooth: always;
  min-width: 90px;
  min-height: 32px;
  height: 32px;
  background-color: #ccc;
  border: 1px transparent solid;
  color: #353535;
  margin-right: 10px;
  margin-bottom: 10px;
  border-raduis: 0;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding: 4px 10px;
  position: relative;
  min-width: 32px;
  min-height: 32px;
  width: 32px;
  height: 32px;
  text-align: center;
  position: relative;
  padding: 0;
}
.tool-button.mini {
  font-size: .9em !important;
}
.tool-button.standart {
  min-width: 90px;
  min-height: 32px;
}
.tool-button:active,
.tool-button.default:active {
  top: 1px;
  left: 1px;
}
.tool-button:disabled,
.tool-button.disabled {
  background-color: #eaeaea;
  color: #bebebe;
  cursor: not-allowed;
}
.tool-button.default {
  background-color: #008287;
  color: #fff;
}
.tool-button:focus {
  outline: 0;
  border: 1px #353535 dotted;
}
.tool-button.mini {
  min-height: 24px;
  min-width: 24px;
  height: 26px;
  font-size: .8em;
}
.tool-button.big {
  min-height: 48px;
  height: 48px;
  font-size: 1.2em;
}
.tool-button img {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 8px;
  left: 8px;
}
.toolbar {
  *zoom: 1;
}
.toolbar a,
.toolbar button {
  font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 9pt;
  font-smooth: always;
  min-width: 90px;
  min-height: 32px;
  height: 32px;
  background-color: #ccc;
  border: 1px transparent solid;
  color: #353535;
  margin-right: 10px;
  margin-bottom: 10px;
  border-raduis: 0;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding: 4px 10px;
  position: relative;
  min-width: 32px;
  min-height: 32px;
  width: 32px;
  height: 32px;
  text-align: center;
  position: relative;
  padding: 0;
  margin-right: 0px;
}
.toolbar a.mini,
.toolbar button.mini {
  min-height: 24px;
  min-width: 24px;
  height: 26px;
  font-size: .8em;
}
.toolbar a.big,
.toolbar button.big {
  min-height: 48px;
  height: 48px;
  font-size: 1.2em;
}
.toolbar a.mini,
.toolbar button.mini {
  min-width: 22px;
  width: 22px;
}
.toolbar a.big,
.toolbar button.big {
  min-width: 48px;
  width: 48px;
}
.toolbar a.mini,
.toolbar button.mini {
  font-size: .9em !important;
}
.toolbar a.standart,
.toolbar button.standart {
  min-width: 90px;
  min-height: 32px;
}
.toolbar a:active,
.toolbar button:active,
.toolbar a.default:active,
.toolbar button.default:active {
  top: 1px;
  left: 1px;
}
.toolbar a:disabled,
.toolbar button:disabled,
.toolbar a.disabled,
.toolbar button.disabled {
  background-color: #eaeaea;
  color: #bebebe;
  cursor: not-allowed;
}
.toolbar a.default,
.toolbar button.default {
  background-color: #008287;
  color: #fff;
}
.toolbar a:focus,
.toolbar button:focus {
  outline: 0;
  border: 1px #353535 dotted;
}
.toolbar a.mini,
.toolbar button.mini {
  min-height: 24px;
  min-width: 24px;
  height: 26px;
  font-size: .8em;
}
.toolbar a.big,
.toolbar button.big {
  min-height: 48px;
  height: 48px;
  font-size: 1.2em;
}
.toolbar a img,
.toolbar button img {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 8px;
  left: 8px;
}
.toolbar a {
  padding: 5px 0;
}
.toolbar:before,
.toolbar:after {
  display: table;
  content: "";
}
.toolbar:after {
  clear: both;
}
.toolbar .toolbar-group {
  margin-right: 20px;
  margin-bottom: 10px;
  float: left;
}
.toolbar-vertical {
  width: 33px;
  float: left;
  margin-right: 10px;
  *zoom: 1;
}
.toolbar-vertical a,
.toolbar-vertical button {
  font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 9pt;
  font-smooth: always;
  min-width: 90px;
  min-height: 32px;
  height: 32px;
  background-color: #ccc;
  border: 1px transparent solid;
  color: #353535;
  margin-right: 10px;
  margin-bottom: 10px;
  border-raduis: 0;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding: 4px 10px;
  position: relative;
  min-width: 32px;
  min-height: 32px;
  width: 32px;
  height: 32px;
  text-align: center;
  position: relative;
  padding: 0;
  margin-bottom: 5px;
}
.toolbar-vertical a.mini,
.toolbar-vertical button.mini {
  min-height: 24px;
  min-width: 24px;
  height: 26px;
  font-size: .8em;
}
.toolbar-vertical a.big,
.toolbar-vertical button.big {
  min-height: 48px;
  height: 48px;
  font-size: 1.2em;
}
.toolbar-vertical a.mini,
.toolbar-vertical button.mini {
  min-width: 22px;
  width: 22px;
}
.toolbar-vertical a.big,
.toolbar-vertical button.big {
  min-width: 48px;
  width: 48px;
}
.toolbar-vertical a.mini,
.toolbar-vertical button.mini {
  font-size: .9em !important;
}
.toolbar-vertical a.standart,
.toolbar-vertical button.standart {
  min-width: 90px;
  min-height: 32px;
}
.toolbar-vertical a:active,
.toolbar-vertical button:active,
.toolbar-vertical a.default:active,
.toolbar-vertical button.default:active {
  top: 1px;
  left: 1px;
}
.toolbar-vertical a:disabled,
.toolbar-vertical button:disabled,
.toolbar-vertical a.disabled,
.toolbar-vertical button.disabled {
  background-color: #eaeaea;
  color: #bebebe;
  cursor: not-allowed;
}
.toolbar-vertical a.default,
.toolbar-vertical button.default {
  background-color: #008287;
  color: #fff;
}
.toolbar-vertical a:focus,
.toolbar-vertical button:focus {
  outline: 0;
  border: 1px #353535 dotted;
}
.toolbar-vertical a.mini,
.toolbar-vertical button.mini {
  min-height: 24px;
  min-width: 24px;
  height: 26px;
  font-size: .8em;
}
.toolbar-vertical a.big,
.toolbar-vertical button.big {
  min-height: 48px;
  height: 48px;
  font-size: 1.2em;
}
.toolbar-vertical a img,
.toolbar-vertical button img {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 8px;
  left: 8px;
}
.toolbar-vertical a {
  padding: 5px 0;
}
.toolbar-vertical:before,
.toolbar-vertical:after {
  display: table;
  content: "";
}
.toolbar-vertical:after {
  clear: both;
}
.toolbar-vertical .toolbar-group {
  margin-bottom: 20px;
}
.image-button {
  position: relative;
  border: 0;
  padding-right: 45px;
}
.image-button img,
.image-button:active img {
  position: absolute;
  right: 0;
  margin-left: 32px;
  padding: 5px;
  height: 100%;
  top: 0px;
  margin-left: 0px;
  box-sizing: border-box;
  border: 1px transparent solid;
  z-index: 2;
}
.button-set a,
.button-set button {
  margin-right: 0;
  text-align: center;
}
.button-set a img,
.button-set button img {
  background-color: transparent;
}
.button-set a {
  padding: 5px 0;
}
.button-set button.active {
  background-color: #008287;
  color: #fff;
}
.shortcuts {
  margin-bottom: 10px;
}
.shortcut {
  width: 92px;
  height: 92px;
  display: inline-block;
  margin: 0 10px 10px 0;
  vertical-align: top;
  text-decoration: none;
  background: #F3F3F3;
  text-align: center;
  cursor: pointer;
  border: 0;
  border-bottom: 2px transparent solid;
  position: relative;
}
.shortcut:hover {
  border-color: red;
}
.shortcut:active {
  background: #F3F3F3;
  top: 1px;
  left: 1px;
}
.shortcut  > .icon {
  margin-top: .25em;
  margin-bottom: .25em;
  font-size: 32px;
  color: #888;
}
.shortcut  > .label {
  display: block;
  font-weight: 400;
  color: #666;
}
.shortcut  > .badge {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #2d89ef;
  padding: 5px;
  margin: 0 !important;
  text-align: center;
  display: block;
  font-size: 9pt;
  color: #fff;
}
a.shortcut {
  padding: 30px 0;
}
a.shortcut .label {
  font-size: 9pt;
}
.pagination {
  width: auto;
  margin-bottom: 10px;
}
.pagination  > ul {
  margin-left: 0;
  list-style: none;
  margin: 0;
}
.pagination  > ul li {
  display: inline-block;
  margin-right: 1px;
  position: relative;
}
.pagination  > ul li a {
  font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 9pt;
  font-smooth: always;
  min-width: 90px;
  min-height: 32px;
  height: 32px;
  background-color: #ccc;
  border: 1px transparent solid;
  color: #353535;
  margin-right: 10px;
  margin-bottom: 10px;
  border-raduis: 0;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding: 4px 10px;
  position: relative;
  min-width: 32px;
  min-height: 32px;
  width: 32px;
  height: 32px;
  text-align: center;
  position: relative;
  padding: 0;
  position: relative;
  display: block;
  float: left;
  font-size: 10pt;
  padding: 5px;
  min-width: 32px;
  height: 32px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 1px;
}
.pagination  > ul li a.mini {
  min-height: 24px;
  min-width: 24px;
  height: 26px;
  font-size: .8em;
}
.pagination  > ul li a.big {
  min-height: 48px;
  height: 48px;
  font-size: 1.2em;
}
.pagination  > ul li a.mini {
  min-width: 22px;
  width: 22px;
}
.pagination  > ul li a.big {
  min-width: 48px;
  width: 48px;
}
.pagination  > ul li a.mini {
  font-size: .9em !important;
}
.pagination  > ul li a.standart {
  min-width: 90px;
  min-height: 32px;
}
.pagination  > ul li a:active,
.pagination  > ul li a.default:active {
  top: 1px;
  left: 1px;
}
.pagination  > ul li a:disabled,
.pagination  > ul li a.disabled {
  background-color: #eaeaea;
  color: #bebebe;
  cursor: not-allowed;
}
.pagination  > ul li a.default {
  background-color: #008287;
  color: #fff;
}
.pagination  > ul li a:focus {
  outline: 0;
  border: 1px #353535 dotted;
}
.pagination  > ul li a.mini {
  min-height: 24px;
  min-width: 24px;
  height: 26px;
  font-size: .8em;
}
.pagination  > ul li a.big {
  min-height: 48px;
  height: 48px;
  font-size: 1.2em;
}
.pagination  > ul li a img {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 8px;
  left: 8px;
}
.pagination  > ul li a:hover {
  background-color: #1d1d1d;
  color: #ffffff;
}
.pagination  > ul li a:active {
  top: 1px;
  left: 1px;
}
.pagination  > ul li.first a,
.pagination  > ul li.prev a,
.pagination  > ul li.next a,
.pagination  > ul li.last a {
  font-size: 20pt;
}
.pagination  > ul li.first a:before,
.pagination  > ul li.prev a:before,
.pagination  > ul li.next a:before,
.pagination  > ul li.last a:before {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -7px;
  content: "\25C4";
  font-size: 1.5em;
}
.pagination  > ul li.first a:before {
  content: "\AB";
  margin-left: -10px;
}
.pagination  > ul li.prev a:before {
  content: "\2039";
}
.pagination  > ul li.next a:before {
  content: "\203A";
}
.pagination  > ul li.last a:before {
  content: "\BB";
  margin-left: -10px;
}
.pagination  > ul li.active a {
  background-color: #008287 ;
  color: #ffffff;
}
.pagination  > ul li.disabled a,
.pagination  > ul li.spaces a {
  background-color: #f2f2f2;
  color: #1e1e1e;
  cursor: not-allowed;
}
.pagination  > ul li.disabled a:active,
.pagination  > ul li.spaces a:active {
  top: 0;
  left: 0;
}
.pagination  > ul li.disabled a {
  color: #1e1e1e;
}
.pagination  > ul li.spaces a {
  background-color: #ffffff;
  cursor: default;
}