.tile.selected {
  outline:4px #2d89ef solid;
}
.tile.selected:after {
  width: 0;
  height: 0;
  border-top: 40px solid #2d89ef;
  border-left: 40px solid transparent;
  position: absolute;
  display: block;
  right: 0;
  content: ".";
  top: 0;
  z-index: 1001;
}
.tile.selected:before {
  position: absolute;
  content: "\e08a";
  color: #fff;
  right: 4px;
  font-family: iconFont;
  z-index: 1002;
}

.place-left {
  float: left !important;
  margin-right: 10px;
}
.mensagens { height:400px; margin-top:5px; overflow-x:hidden; overflow-y:scroll }
.mensagens .lista ul { width:100%; margin:0; padding:0; list-style-type:none; color:white }
.mensagens .lista ul li { width:96%; float:left; display:block; margin:0; padding:3% 2%; border-top:solid 1px #CCCCCC;
	font:300 12px Arial, Helvetica, sans-serif; cursor:pointer }
.mensagens .lista ul li:last-child { border-bottom:solid 1px #cccccc }
.mensagens .lista ul li:hover { background:#cccccc }
.mensagens .lista ul li .texto { display:block; min-height:30px; position:relative; float:left;
	padding-left:38px; vertical-align:top; line-height:15px }
.mensagens .lista ul li .img { position:absolute; top:0; left:0; width:30px; height:30px; display:inline-block;
	border-radius:0px; overflow:hidden; }
.mensagens .lista ul li .texto .nome { font-weight:700 }
.mensagens .lista ul li .texto .titulo { font-weight:400 }
.mensagem { width:400px; padding:0!important }
.mensagem .corpo { padding: 9px 14px; max-height:310px; overflow-x:hidden; overflow-y:scroll  }
.mensagem .corpo .button { margin-top:0!important;margin-bottom:0!important }
.mensagem .corpo .nome {  }
.mensagem .corpo p { font:300 14px "Open Sans", Arial, Helvetica, Sans-Serif!important;
          line-height:22px!important }
#util { background:#e1e1e1; overflow-x:hidden; overflow-y:visible }
#util ul.nav,#util ul.nav li { background-color:#b91d1d; margin:0 }
#util ul.nav { margin-bottom:0px }
#util ul.nav li.active, #util ul.nav li.active a { background-color:#e1e1e1; color:#b91d1d }
#util ul.nav li:hover a { color:#b91d1d }
#util ul.nav li a { margin:0; border:none; width:30px; height:30px; display: block;
	font-size:20px; color: #ebf6fc; line-height:26px; text-align: center;
        text-decoration: none; }
.util { overflow-x:hidden; overflow-y:scroll }
.util .cpan { width:94%; display:block; height:28px; padding-left:3%;
        padding-right:3%; padding-bottom:8px; padding-top:8px;
        background-color:#e1e1e1 }
.util .cpan .dropdown { display:inline-block }
.util .cpan .dropdown .dropdown-menu { min-width:100px }
.util .cpan .dropdown .dropdown-menu a { padding:3px 10px; }
.util .cpan button { background-color:#e1e1e1; color:#b91d1d; margin:0;
        border-radius:3px }
.util .cpan button.mini { padding:2px 4px; font-size:11px }
.util .cpan button:hover { background-color:#D4D4D4!important }
.util ul.data { min-height:200px; height:0;
        width:100%; margin:0; padding-top:0; overflow-x:hidden;
        overflow-y:scroll; list-style-type:none }
.util ul.data li { width:94%; margin:0; padding:3%; float:left; min-height:30px;
        cursor:pointer }
.util ul.data li:nth-child(odd) { backgdround-color:#F0F0F0 }
.util ul.data li:hover { background:#333333 }
.util ul.data li:hover .content .p { color:white!important }
.util ul.data li .content { width:100%; float:left; position:relative;
        word-break:break-word }
.util ul.data li .content .foto { position:absolute; top:0; left:0;
        float:left; width:30px; height:30px; background-color:#f1f1f1 }
.util ul.data li .content .foto i { font-size:24px; line-height:30px;
         vertical-align:middle; margin-left:3px }
.util ul.data li .content .p { float:left; display:inline-block;
    margin-left:38px; line-height:18px; font-size:12px }
.util .settings { position:relative; top:0; left:0; height:30px;
    width:100%; background:#e1e1e1; padding:5px 0; }
.util .settings .paginacao, .util .settings .paginacao ul,
.util .settings .paginacao ul li { display:block; margin:0 }
.util .settings .paginacao ul li { margin-top:3px }
.util .settings .paginacao ul li a { width:auto; min-width:14px; height:auto;
    min-height:10px; line-height:14px; padding:5px; margin:0; border:none;
    background:#b91d1d; font-size:14px; vertical-align:middle;
    text-align: center; color:white }
.util .settings .paginacao ul li:first-child a { padding-left:9px }
.util .settings .paginacao ul li a i { width:14px; height:14px; line-height:14px;
    font-size:14px; display:block }
.util .settings .paginacao ul li a:disabled,
.util .settings .paginacao ul li.disabled a {
  background-color:#b91d1d;
  color: #333333;
  cursor: not-allowed;
}
.util .settings .paginacao ul li a:active,
.util .settings .paginacao ul li.active a {
  background-color:#b91d1d;
  color: #e1e1e1;
}