@font-face {
  font-family: 'iconFont';
  src: url('fonts/iconFont.eot');
  src: url('fonts/iconFont.eot?#iefix') format('embedded-opentype'), url('fonts/iconFont.svg#iconFont') format('svg'), url('fonts/iconFont.woff') format('woff'), url('fonts/iconFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-iconui]:before {
  font-family: 'iconFont';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  border: 1px transparent solid;
}
/* Use the following CSS code if you want to have a class per icon */
[class^="iconui-"]:before,
[class*=" iconui-"]:before {
  font-family: 'iconFont';
  font-style: normal;
  speak: none;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  margin: 0 2px;
  -webkit-font-smoothing: antialiased;
  border: 1px transparent solid;
}
.iconui-large:before {
  vertical-align: middle;
  font-size: 1.3333333333333332em;
  margin-top: -8px;
}
button.mini i,
.button.mini i {
  font-size: 1em !important;
}
a [class^="iconui-"],
a [class*=" iconui-"] {
  border: 1px transparent solid;
}
li [class^="iconui-"],
li [class*=" iconui-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li .iconui-large:after,
li .iconui-large:before {
  width: 1.875em;
}
.iconui-home:before {
  content: "\e000";
}
.iconui-newspaper:before {
  content: "\e001";
}
.iconui-pencil:before {
  content: "\e002";
}
.iconui-droplet:before {
  content: "\e003";
}
.iconui-pictures:before {
  content: "\e004";
}
.iconui-camera:before {
  content: "\e005";
}
.iconui-music:before {
  content: "\e006";
}
.iconui-film:before {
  content: "\e007";
}
.iconui-camera-2:before {
  content: "\e008";
}
.iconui-spades:before {
  content: "\e009";
}
.iconui-clubs:before {
  content: "\e00a";
}
.iconui-diamonds:before {
  content: "\e00b";
}
.iconui-broadcast:before {
  content: "\e00c";
}
.iconui-mic:before {
  content: "\e00d";
}
.iconui-book:before {
  content: "\e00e";
}
.iconui-file:before {
  content: "\e00f";
}
.iconui-new:before {
  content: "\e010";
}
.iconui-copy:before {
  content: "\e011";
}
.iconui-folder:before {
  content: "\e012";
}
.iconui-folder-2:before {
  content: "\e013";
}
.iconui-tag:before {
  content: "\e014";
}
.iconui-cart:before {
  content: "\e015";
}
.iconui-basket:before {
  content: "\e016";
}
.iconui-calculate:before {
  content: "\e017";
}
.iconui-support:before {
  content: "\e018";
}
.iconui-phone:before {
  content: "\e019";
}
.iconui-mail:before {
  content: "\e01a";
}
.iconui-location:before {
  content: "\e01b";
}
.iconui-compass:before {
  content: "\e01c";
}
.iconui-history:before {
  content: "\e01d";
}
.iconui-clock:before {
  content: "\e01e";
}
.iconui-bell:before {
  content: "\e01f";
}
.iconui-calendar:before {
  content: "\e020";
}
.iconui-printer:before {
  content: "\e021";
}
.iconui-mouse:before {
  content: "\e022";
}
.iconui-screen:before {
  content: "\e023";
}
.iconui-laptop:before {
  content: "\e024";
}
.iconui-mobile:before {
  content: "\e025";
}
.iconui-cabinet:before {
  content: "\e026";
}
.iconui-drawer:before {
  content: "\e027";
}
.iconui-drawer-2:before {
  content: "\e028";
}
.iconui-box:before {
  content: "\e029";
}
.iconui-box-add:before {
  content: "\e02a";
}
.iconui-box-remove:before {
  content: "\e02b";
}
.iconui-download:before {
  content: "\e02c";
}
.iconui-upload:before {
  content: "\e02d";
}
.iconui-database:before {
  content: "\e02e";
}
.iconui-flip:before {
  content: "\e02f";
}
.iconui-flip-2:before {
  content: "\e030";
}
.iconui-undo:before {
  content: "\e031";
}
.iconui-redo:before {
  content: "\e032";
}
.iconui-forward:before {
  content: "\e033";
}
.iconui-reply:before {
  content: "\e034";
}
.iconui-reply-2:before {
  content: "\e035";
}
.iconui-comments:before {
  content: "\e036";
}
.iconui-comments-2:before {
  content: "\e037";
}
.iconui-comments-3:before {
  content: "\e038";
}
.iconui-comments-4:before {
  content: "\e039";
}
.iconui-comments-5:before {
  content: "\e03a";
}
.iconui-user:before {
  content: "\e03b";
}
.iconui-user-2:before {
  content: "\e03c";
}
.iconui-user-3:before {
  content: "\e03d";
}
.iconui-busy:before {
  content: "\e03e";
}
.iconui-loading:before {
  content: "\e03f";
}
.iconui-loading-2:before {
  content: "\e040";
}
.iconui-search:before {
  content: "\e041";
}
.iconui-zoom-in:before {
  content: "\e042";
}
.iconui-zoom-out:before {
  content: "\e043";
}
.iconui-key:before {
  content: "\e044";
}
.iconui-key-2:before {
  content: "\e045";
}
.iconui-locked:before {
  content: "\e046";
}
.iconui-unlocked:before {
  content: "\e047";
}
.iconui-wrench:before {
  content: "\e048";
}
.iconui-equalizer:before {
  content: "\e049";
}
.iconui-cog:before {
  content: "\e04a";
}
.iconui-pie:before {
  content: "\e04b";
}
.iconui-bars:before {
  content: "\e04c";
}
.iconui-stats-up:before {
  content: "\e04d";
}
.iconui-gift:before {
  content: "\e04e";
}
.iconui-trophy:before {
  content: "\e04f";
}
.iconui-diamond:before {
  content: "\e050";
}
.iconui-coffee:before {
  content: "\e051";
}
.iconui-rocket:before {
  content: "\e052";
}
.iconui-meter-slow:before {
  content: "\e053";
}
.iconui-meter-medium:before {
  content: "\e054";
}
.iconui-meter-fast:before {
  content: "\e055";
}
.iconui-dashboard:before {
  content: "\e056";
}
.iconui-fire:before {
  content: "\e057";
}
.iconui-lab:before {
  content: "\e058";
}
.iconui-remove:before {
  content: "\e059";
}
.iconui-briefcase:before {
  content: "\e05a";
}
.iconui-briefcase-2:before {
  content: "\e05b";
}
.iconui-cars:before {
  content: "\e05c";
}
.iconui-bus:before {
  content: "\e05d";
}
.iconui-cube:before {
  content: "\e05e";
}
.iconui-cube-2:before {
  content: "\e05f";
}
.iconui-puzzle:before {
  content: "\e060";
}
.iconui-glasses:before {
  content: "\e061";
}
.iconui-glasses-2:before {
  content: "\e062";
}
.iconui-accessibility:before {
  content: "\e063";
}
.iconui-accessibility-2:before {
  content: "\e064";
}
.iconui-target:before {
  content: "\e065";
}
.iconui-target-2:before {
  content: "\e066";
}
.iconui-lightning:before {
  content: "\e067";
}
.iconui-power:before {
  content: "\e068";
}
.iconui-power-2:before {
  content: "\e069";
}
.iconui-clipboard:before {
  content: "\e06a";
}
.iconui-clipboard-2:before {
  content: "\e06b";
}
.iconui-playlist:before {
  content: "\e06c";
}
.iconui-grid-view:before {
  content: "\e06d";
}
.iconui-tree-view:before {
  content: "\e06e";
}
.iconui-cloud:before {
  content: "\e06f";
}
.iconui-cloud-2:before {
  content: "\e070";
}
.iconui-download-2:before {
  content: "\e071";
}
.iconui-upload-2:before {
  content: "\e072";
}
.iconui-upload-3:before {
  content: "\e073";
}
.iconui-link:before {
  content: "\e074";
}
.iconui-link-2:before {
  content: "\e075";
}
.iconui-flag:before {
  content: "\e076";
}
.iconui-flag-2:before {
  content: "\e077";
}
.iconui-attachment:before {
  content: "\e078";
}
.iconui-eye:before {
  content: "\e079";
}
.iconui-bookmark:before {
  content: "\e07a";
}
.iconui-bookmark-2:before {
  content: "\e07b";
}
.iconui-star:before {
  content: "\e07c";
}
.iconui-star-2:before {
  content: "\e07d";
}
.iconui-star-3:before {
  content: "\e07e";
}
.iconui-heart:before {
  content: "\e07f";
}
.iconui-heart-2:before {
  content: "\e080";
}
.iconui-thumbs-up:before {
  content: "\e081";
}
.iconui-thumbs-down:before {
  content: "\e082";
}
.iconui-plus:before {
  content: "\e083";
}
.iconui-minus:before {
  content: "\e084";
}
.iconui-help:before {
  content: "\e085";
}
.iconui-help-2:before {
  content: "\e086";
}
.iconui-blocked:before {
  content: "\e087";
}
.iconui-cancel:before {
  content: "\e088";
}
.iconui-cancel-2:before {
  content: "\e089";
}
.iconui-checkmark:before {
  content: "\e08a";
}
.iconui-minus-2:before {
  content: "\e08b";
}
.iconui-plus-2:before {
  content: "\e08c";
}
.iconui-enter:before {
  content: "\e08d";
}
.iconui-exit:before {
  content: "\e08e";
}
.iconui-loop:before {
  content: "\e08f";
}
.iconui-arrow-up-left:before {
  content: "\e090";
}
.iconui-arrow-up:before {
  content: "\e091";
}
.iconui-arrow-up-right:before {
  content: "\e092";
}
.iconui-arrow-right:before {
  content: "\e093";
}
.iconui-arrow-down-right:before {
  content: "\e094";
}
.iconui-arrow-down:before {
  content: "\e095";
}
.iconui-arrow-down-left:before {
  content: "\e096";
}
.iconui-arrow-left:before {
  content: "\e097";
}
.iconui-arrow-up-2:before {
  content: "\e098";
}
.iconui-arrow-right-2:before {
  content: "\e099";
}
.iconui-arrow-down-2:before {
  content: "\e09a";
}
.iconui-arrow-left-2:before {
  content: "\e09b";
}
.iconui-arrow-up-3:before {
  content: "\e09c";
}
.iconui-arrow-right-3:before {
  content: "\e09d";
}
.iconui-arrow-down-3:before {
  content: "\e09e";
}
.iconui-arrow-left-3:before {
  content: "\e09f";
}
.iconui-menu:before {
  content: "\e0a0";
}
.iconui-enter-2:before {
  content: "\e0a1";
}
.iconui-backspace:before {
  content: "\e0a2";
}
.iconui-backspace-2:before {
  content: "\e0a3";
}
.iconui-tab:before {
  content: "\e0a4";
}
.iconui-tab-2:before {
  content: "\e0a5";
}
.iconui-checkbox:before {
  content: "\e0a6";
}
.iconui-checkbox-unchecked:before {
  content: "\e0a7";
}
.iconui-checkbox-partial:before {
  content: "\e0a8";
}
.iconui-radio-checked:before {
  content: "\e0a9";
}
.iconui-radio-unchecked:before {
  content: "\e0aa";
}
.iconui-font:before {
  content: "\e0ab";
}
.iconui-paragraph-left:before {
  content: "\e0ac";
}
.iconui-paragraph-center:before {
  content: "\e0ad";
}
.iconui-paragraph-right:before {
  content: "\e0ae";
}
.iconui-paragraph-justify:before {
  content: "\e0af";
}
.iconui-left-to-right:before {
  content: "\e0b0";
}
.iconui-right-to-left:before {
  content: "\e0b1";
}
.iconui-share:before {
  content: "\e0b2";
}
.iconui-new-tab:before {
  content: "\e0b3";
}
.iconui-new-tab-2:before {
  content: "\e0b4";
}
.iconui-embed:before {
  content: "\e0b5";
}
.iconui-code:before {
  content: "\e0b6";
}
.iconui-bluetooth:before {
  content: "\e0b7";
}
.iconui-share-2:before {
  content: "\e0b8";
}
.iconui-share-3:before {
  content: "\e0b9";
}
.iconui-mail-2:before {
  content: "\e0ba";
}
.iconui-google:before {
  content: "\e0bb";
}
.iconui-google-plus:before {
  content: "\e0bc";
}
.iconui-google-drive:before {
  content: "\e0bd";
}
.iconui-facebook:before {
  content: "\e0be";
}
.iconui-instagram:before {
  content: "\e0bf";
}
.iconui-twitter:before {
  content: "\e0c0";
}
.iconui-feed:before {
  content: "\e0c1";
}
.iconui-youtube:before {
  content: "\e0c2";
}
.iconui-vimeo:before {
  content: "\e0c3";
}
.iconui-flickr:before {
  content: "\e0c4";
}
.iconui-picassa:before {
  content: "\e0c5";
}
.iconui-dribbble:before {
  content: "\e0c6";
}
.iconui-deviantart:before {
  content: "\e0c7";
}
.iconui-github:before {
  content: "\e0c8";
}
.iconui-github-2:before {
  content: "\e0c9";
}
.iconui-github-3:before {
  content: "\e0ca";
}
.iconui-github-4:before {
  content: "\e0cb";
}
.iconui-github-5:before {
  content: "\e0cc";
}
.iconui-git:before {
  content: "\e0cd";
}
.iconui-github-6:before {
  content: "\e0ce";
}
.iconui-wordpress:before {
  content: "\e0cf";
}
.iconui-joomla:before {
  content: "\e0d0";
}
.iconui-blogger:before {
  content: "\e0d1";
}
.iconui-tumblr:before {
  content: "\e0d2";
}
.iconui-yahoo:before {
  content: "\e0d3";
}
.iconui-amazon:before {
  content: "\e0d4";
}
.iconui-tux:before {
  content: "\e0d5";
}
.iconui-apple:before {
  content: "\e0d6";
}
.iconui-finder:before {
  content: "\e0d7";
}
.iconui-android:before {
  content: "\e0d8";
}
.iconui-windows:before {
  content: "\e0d9";
}
.iconui-soundcloud:before {
  content: "\e0da";
}
.iconui-skype:before {
  content: "\e0db";
}
.iconui-reddit:before {
  content: "\e0dc";
}
.iconui-linkedin:before {
  content: "\e0dd";
}
.iconui-lastfm:before {
  content: "\e0de";
}
.iconui-delicious:before {
  content: "\e0df";
}
.iconui-stumbleupon:before {
  content: "\e0e0";
}
.iconui-pinterest:before {
  content: "\e0e1";
}
.iconui-xing:before {
  content: "\e0e2";
}
.iconui-flattr:before {
  content: "\e0e3";
}
.iconui-foursquare:before {
  content: "\e0e4";
}
.iconui-paypal:before {
  content: "\e0e5";
}
.iconui-yelp:before {
  content: "\e0e6";
}
.iconui-libreoffice:before {
  content: "\e0e7";
}
.iconui-file-pdf:before {
  content: "\e0e8";
}
.iconui-file-openoffice:before {
  content: "\e0e9";
}
.iconui-file-word:before {
  content: "\e0ea";
}
.iconui-file-excel:before {
  content: "\e0eb";
}
.iconui-file-powerpoint:before {
  content: "\e0ec";
}
.iconui-file-zip:before {
  content: "\e0ed";
}
.iconui-file-xml:before {
  content: "\e0ee";
}
.iconui-file-css:before {
  content: "\e0ef";
}
.iconui-html5:before {
  content: "\e0f0";
}
.iconui-html5-2:before {
  content: "\e0f1";
}
.iconui-css3:before {
  content: "\e0f2";
}
.iconui-chrome:before {
  content: "\e0f3";
}
.iconui-firefox:before {
  content: "\e0f4";
}
.iconui-IE:before {
  content: "\e0f5";
}
.iconui-opera:before {
  content: "\e0f6";
}
.iconui-safari:before {
  content: "\e0f7";
}
.iconui-IcoMoon:before {
  content: "\e0f8";
}
.iconui-sunrise:before {
  content: "\e0f9";
}
.iconui-sun:before {
  content: "\e0fa";
}
.iconui-moon:before {
  content: "\e0fb";
}
.iconui-sun-2:before {
  content: "\e0fc";
}
.iconui-windy:before {
  content: "\e0fd";
}
.iconui-wind:before {
  content: "\e0fe";
}
.iconui-snowflake:before {
  content: "\e0ff";
}
.iconui-cloudy:before {
  content: "\e100";
}
.iconui-cloud-3:before {
  content: "\e101";
}
.iconui-weather:before {
  content: "\e102";
}
.iconui-weather-2:before {
  content: "\e103";
}
.iconui-weather-3:before {
  content: "\e104";
}
.iconui-lines:before {
  content: "\e105";
}
.iconui-cloud-4:before {
  content: "\e106";
}
.iconui-lightning-2:before {
  content: "\e107";
}
.iconui-lightning-3:before {
  content: "\e108";
}
.iconui-rainy:before {
  content: "\e109";
}
.iconui-rainy-2:before {
  content: "\e10a";
}
.iconui-windy-2:before {
  content: "\e10b";
}
.iconui-windy-3:before {
  content: "\e10c";
}
.iconui-snowy:before {
  content: "\e10d";
}
.iconui-snowy-2:before {
  content: "\e10e";
}
.iconui-snowy-3:before {
  content: "\e10f";
}
.iconui-weather-4:before {
  content: "\e110";
}
.iconui-cloudy-2:before {
  content: "\e111";
}
.iconui-cloud-5:before {
  content: "\e112";
}
.iconui-lightning-4:before {
  content: "\e113";
}
.iconui-sun-3:before {
  content: "\e114";
}
.iconui-moon-2:before {
  content: "\e115";
}
.iconui-cloudy-3:before {
  content: "\e116";
}
.iconui-cloud-6:before {
  content: "\e117";
}
.iconui-cloud-7:before {
  content: "\e118";
}
.iconui-lightning-5:before {
  content: "\e119";
}
.iconui-rainy-3:before {
  content: "\e11a";
}
.iconui-rainy-4:before {
  content: "\e11b";
}
.iconui-windy-4:before {
  content: "\e11c";
}
.iconui-windy-5:before {
  content: "\e11d";
}
.iconui-snowy-4:before {
  content: "\e11e";
}
.iconui-snowy-5:before {
  content: "\e11f";
}
.iconui-weather-5:before {
  content: "\e120";
}
.iconui-cloudy-4:before {
  content: "\e121";
}
.iconui-lightning-6:before {
  content: "\e122";
}
.iconui-thermometer:before {
  content: "\e123";
}
.iconui-compass-2:before {
  content: "\e124";
}
.iconui-none:before {
  content: "\e125";
}
.iconui-Celsius:before {
  content: "\e126";
}
.iconui-Fahrenheit:before {
  content: "\e127";
}
.iconui-forrst:before {
  content: "\e128";
}
.iconui-headphones:before {
  content: "\e129";
}
.iconui-bug:before {
  content: "\e12a";
}
.iconui-cart-2:before {
  content: "\e12b";
}
.iconui-earth:before {
  content: "\e12c";
}
.iconui-battery:before {
  content: "\e12d";
}
.iconui-list:before {
  content: "\e12e";
}
.iconui-grid:before {
  content: "\e12f";
}
.iconui-alarm:before {
  content: "\e130";
}
.iconui-location-2:before {
  content: "\e131";
}
.iconui-pointer:before {
  content: "\e132";
}
.iconui-diary:before {
  content: "\e133";
}
.iconui-eye-2:before {
  content: "\e134";
}
.iconui-console:before {
  content: "\e135";
}
.iconui-location-3:before {
  content: "\e136";
}
.iconui-move:before {
  content: "\e137";
}
.iconui-gift-2:before {
  content: "\e138";
}
.iconui-monitor:before {
  content: "\e139";
}
.iconui-mobile-2:before {
  content: "\e13a";
}
.iconui-switch:before {
  content: "\e13b";
}
.iconui-star-4:before {
  content: "\e13c";
}
.iconui-address-book:before {
  content: "\e13d";
}
.iconui-shit:before {
  content: "\e13e";
}
.iconui-cone:before {
  content: "\e13f";
}
.iconui-credit-card:before {
  content: "\e140";
}
.iconui-type:before {
  content: "\e141";
}
.iconui-volume:before {
  content: "\e142";
}
.iconui-volume-2:before {
  content: "\e143";
}
.iconui-locked-2:before {
  content: "\e144";
}
.iconui-warning:before {
  content: "\e145";
}
.iconui-info:before {
  content: "\e146";
}
.iconui-filter:before {
  content: "\e147";
}
.iconui-bookmark-3:before {
  content: "\e148";
}
.iconui-bookmark-4:before {
  content: "\e149";
}
.iconui-stats:before {
  content: "\e14a";
}
.iconui-compass-3:before {
  content: "\e14b";
}
.iconui-keyboard:before {
  content: "\e14c";
}
.iconui-award-fill:before {
  content: "\e14d";
}
.iconui-award-stroke:before {
  content: "\e14e";
}
.iconui-beaker-alt:before {
  content: "\e14f";
}
.iconui-beaker:before {
  content: "\e150";
}
.iconui-move-vertical:before {
  content: "\e151";
}
.iconui-move-horizontal:before {
  content: "\e153";
}
.iconui-steering-wheel:before {
  content: "\e152";
}
.iconui-volume-3:before {
  content: "\e154";
}
.iconui-volume-mute:before {
  content: "\e155";
}
.iconui-play:before {
  content: "\e156";
}
.iconui-pause:before {
  content: "\e157";
}
.iconui-stop:before {
  content: "\e158";
}
.iconui-eject:before {
  content: "\e159";
}
.iconui-first:before {
  content: "\e15a";
}
.iconui-last:before {
  content: "\e15b";
}
.iconui-play-alt:before {
  content: "\e15c";
}
.iconui-battery-empty:before {
  content: "\e15d";
}
.iconui-battery-half:before {
  content: "\e15e";
}
.iconui-battery-full:before {
  content: "\e15f";
}
.iconui-battery-charging:before {
  content: "\e160";
}
.iconui-left-quote:before {
  content: "\e161";
}
.iconui-right-quote:before {
  content: "\e162";
}
.iconui-left-quote-alt:before {
  content: "\e163";
}
.iconui-right-quote-alt:before {
  content: "\e164";
}
.iconui-smiley:before {
  content: "\e165";
}
.iconui-umbrella:before {
  content: "\e166";
}
.iconui-info-2:before {
  content: "\e167";
}
.iconui-chart-alt:before {
  content: "\e168";
}