table {
  max-width: 100%;
  width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
.table thead tr th,
.table thead tr td {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 5px;
  padding-top: 10px;
  padding-left: 5px;
  border-bottom: 1px #ddd solid;
  border-right: 1px #ddd solid;
  border-left: 1px transparent solid;
  border-top: 1px transparent solid;
  font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 14pt;
  font-smooth: always;
  text-align: left;
}
.table thead tr *,
tr.header > *,
td.header { background-color:#25a0da/*background-color:#25a0da*/; color: #ffffff; }
td.header,
th.header { border-bottom:solid 1px #ffffff!important;border-right: 1px transparent solid!important; }
.table thead tr th.right,
.table thead tr td.right {
  text-align: right;
  padding-right: 10px;
}
.table thead tr th.last,
.table thead tr td.last {
  border-right: 1px transparent solid;
}
.table thead tr th:last-child,
.table thead tr td:last-child {
  border-right: 1px transparent solid;
}
.table tbody tr {
  border: 1px #fff solid;
}
.table tbody tr td {
  font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 0.02em;
  line-height: 20px;
  font-smooth: always;
  padding: 3px 10px;
  border-right: 1px #c3c3c3 solid;
  border-bottom:none;
  border-left: 1px transparent solid;
  border-top: 1px transparent solid;
  box-sizing: border-box;
}
.table tbody tr td button,
.table tbody tr td .button{ margin:0 }
.table tbody tr td.last {
  border-right: 1px transparent solid;
}
.table tbody tr td:last-child {
  border-right: 1px transparent solid;
}

.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: middle;
  border-top: 1px solid #cccccc;
}

.table th {
  font-weight: bold;
}

.table thead th {
  vertical-align: middle;
}

.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}

.table tbody + tbody {
  border-top: 2px solid #cccccc;
}

.table .table {
  background-color: #ffffff;
}

.table-condensed th,
.table-condensed td {
  padding: 0px 3px!important;
}

.table-condensed thead tr th,
.table-condensed thead tr td,
.table-condensed .header tr th,
.table-condensed .header tr td { padding:3px!important; }

.table-bordered {
  border: 1px solid #cccccc;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.table-bordered th,
.table-bordered td {
  border-left: 1px solid #cccccc;
}

.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}

.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child {
  -webkit-border-top-left-radius: 0;
          border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
}

.table-bordered thead:first-child tr:first-child > th:last-child,
.table-bordered tbody:first-child tr:first-child > td:last-child {
  -webkit-border-top-right-radius: 0;
          border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
}

.table-bordered thead:last-child tr:last-child > th:first-child,
.table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > td:first-child {
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
}

.table-bordered thead:last-child tr:last-child > th:last-child,
.table-bordered tbody:last-child tr:last-child > td:last-child,
.table-bordered tfoot:last-child tr:last-child > td:last-child {
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
}

.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 0;
          border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
}

.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 0;
          border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
}

.table-striped tbody > tr:not(.header):nth-child(odd) > td:not(.header),
.table-striped tbody > tr:not(.header):nth-child(odd) > th:not(.header) {
  background-color: #ededed;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #f5f5f5;
}

table td[class*="span"],
table th[class*="span"],
.row-fluid table td[class*="span"],
.row-fluid table th[class*="span"] {
  display: table-cell;
  float: none;
  margin-left: 0;
}

.table td.span1,
.table th.span1 {
  float: none;
  width: 44px;
  margin-left: 0;
}

.table td.span2,
.table th.span2 {
  float: none;
  width: 124px;
  margin-left: 0;
}

.table td.span3,
.table th.span3 {
  float: none;
  width: 204px;
  margin-left: 0;
}

.table td.span4,
.table th.span4 {
  float: none;
  width: 284px;
  margin-left: 0;
}

.table td.span5,
.table th.span5 {
  float: none;
  width: 364px;
  margin-left: 0;
}

.table td.span6,
.table th.span6 {
  float: none;
  width: 444px;
  margin-left: 0;
}

.table td.span7,
.table th.span7 {
  float: none;
  width: 524px;
  margin-left: 0;
}

.table td.span8,
.table th.span8 {
  float: none;
  width: 604px;
  margin-left: 0;
}

.table td.span9,
.table th.span9 {
  float: none;
  width: 684px;
  margin-left: 0;
}

.table td.span10,
.table th.span10 {
  float: none;
  width: 764px;
  margin-left: 0;
}

.table td.span11,
.table th.span11 {
  float: none;
  width: 844px;
  margin-left: 0;
}

.table td.span12,
.table th.span12 {
  float: none;
  width: 924px;
  margin-left: 0;
}

.table tbody tr.success td {
  background-color: #01a31c;
}

.table tbody tr.error td {
  background-color: #bc1c48;
}

.table tbody tr.warning td {
  background-color: #f09609;
}

.table tbody tr.info td {
  background-color: #2d89f0;
}

.table-hover tbody tr.success:hover td {
  background-color: #018a18;
}

.table-hover tbody tr.error:hover td {
  background-color: #a6193f;
}

.table-hover tbody tr.warning:hover td {
  background-color: #d78708;
}

.table-hover tbody tr.info:hover td {
  background-color: #157cee;
}

.table thead {
  border-bottom: 1px solid #cccccc;
}

.table th {
  font-size: 9pt;
  font-weight: 400;
  text-transform: uppercase;
}

.table th,
.table td {
  border-top: 0;
}

.table-bordered th,
.table-bordered td {
  border-top: 1px solid #cccccc;
}

.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.table-bordered thead:first-child tr:first-child th:last-child,
.table-bordered tbody:first-child tr:first-child td:last-child {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.table-bordered thead:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child td:first-child,
.table-bordered tfoot:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.table-bordered thead:last-child tr:last-child th:last-child,
.table-bordered tbody:last-child tr:last-child td:last-child,
.table-bordered tfoot:last-child tr:last-child td:last-child {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.table tbody tr.success td {
  color: #ffffff;
  background-color: #01a31c;
}

.table tbody tr.error td {
  color: #ffffff;
  background-color: #bc1c48;
}

.table tbody tr.warning td {
  color: #ffffff;
  background-color: #f09609;
}

.table tbody tr.info td {
  color: #ffffff;
  background-color: #2d89f0;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #f5f5f5;
  border-top: 1px solid #00bff2;
  border-bottom: 1px solid #00bff2;
}

.table-hover tbody tr:hover td:first-child {
  border-left: 1px solid #00bff2;
}

.table-hover tbody tr:hover td:last-child {
  border-right: 1px solid #00bff2;
}

.table-cell-hover tbody tr td:hover,
.table-cell-hover tbody tr th:hover {
  background-color: #f5f5f5;
  border: 1px solid #00bff2;
}

table td label.checkbox,
table th label.checkbox {
  width: 24px;
}

table th label.checkbox input[type=checkbox]:checked ~ span.metro-checkbox::after,
table td label.checkbox input[type=checkbox]:checked ~ span.metro-checkbox::after {
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  font-size: 14px;
}

table th label.checkbox input[type=checkbox] ~ span.metro-checkbox::after,
table td label.checkbox input[type=checkbox] ~ span.metro-checkbox::after {
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  font-size: 14px;
}
td.paginacao { padding:0!important; padding-top:10px!important }
td.paginacao > span { min-height: 24px; min-width: 26px; padding: 8px;
    height: 26px; font-size: 10px; line-height: 10px; display: inline-block;
    background-color:#25a0da; color:white; text-align: center;
    box-sizing: border-box; background-clip: padding-box; }
td.paginacao > span > a { color: white }
td.paginacao > span.current { background-color: #eaeaea; color: #bebebe; cursor: not-allowed; }
td.paginacao > span.current > a { color: #bebebe }
td.paginacao > span:not(:first-child) { margin-left:3px }
.table tfoot tr td,
.table tfoot tr td * { vertical-align: bottom!important; }