.strong { font-weight:bold!important }
.t-center { text-align:center; }
h1, h2, h3,
h4, h5, h6 {
  /*margin: 10px 0;*/
  padding: 0;
  text-rendering: optimizelegibility;
}
h1 {
  font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 42pt;
  letter-spacing: 0.00em;
  line-height: 44pt;
  font-smooth: always;
  color: #000000;
  color: rgba(0, 0, 0, 0.8);
}
h1.hover:hover {
  color: rgba(0, 0, 0, 0.8);
}
h1.hover:active {
  color: rgba(0, 0, 0, 0.4);
}
h2 {
  font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 26px;
  letter-spacing: 0.01em;
  line-height: 26px;
  font-smooth: always;
  color: #000000;
  color: rgba(0, 0, 0, 0.8);
}
h2.hover:hover {
  color: rgba(0, 0, 0, 0.8);
}
h2.hover:active {
  color: rgba(0, 0, 0, 0.4);
}
h3 {
  font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 200;
  letter-spacing: 0.01em;
  line-height: 24pt;
  font-smooth: always;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16pt;
}
h3.hover:hover {
  color: rgba(0, 0, 0, 0.8);
}
h3.hover:active {
  color: rgba(0, 0, 0, 0.4);
}
h4 {
  font-family: 'Segoe UI Semibold', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  font-weight:400;
  font-size: 15px;
  letter-spacing: 0.01em;
  line-height:20px;
  font-smooth: always;
  color: #000000;
  color: rgba(0, 0, 0, 0.8);
}
h4.hover:hover {
  color: rgba(0, 0, 0, 0.8);
}
h4.hover:active {
  color: rgba(0, 0, 0, 0.4);
}
h5 {
  font-family: 'Segoe UI Semibold', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height:14px;
  font-smooth: always;
  color: rgba(0, 0, 0, 0.9);
}
h5.hover:hover {
  color: rgba(0, 0, 0, 0.8);
}
h5.hover:active {
  color: rgba(0, 0, 0, 0.4);
}
h6 {
  font-family: 'Segoe UI Semibold', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 11pt;
  letter-spacing: 0.01em;
  line-height: 14pt;
  font-smooth: always;
  color: rgba(0, 0, 0, 0.6);
  font-size: 80%;
}
h6.hover:hover {
  color: rgba(0, 0, 0, 0.8);
}
h6.hover:active {
  color: rgba(0, 0, 0, 0.4);
}
.sessao { border-bottom: 1px solid #cccccc; margin-bottom:30px; padding-bottom: 10px; }