.panorama {
  position: relative;
  margin: 0 40px;
  overflow: hidden;
}

.panorama.nohidden {
  width: auto;
  overflow: inherit;
}

.panorama .panorama-sections {
  position: relative;
  width: 10000px;
  height: auto;
  overflow: hidden;
}

.panorama .panorama-sections h2 {
  margin-left: 5px;
  font-weight: 300;
  text-transform: lowercase;
}

.panorama .panorama-sections .panorama-section {
  position: relative;
  float: left;
  width: auto;
  height: auto;
  margin-right: 75px;
}

.panorama .panorama-sections .panorama-section.tile-span-1 {
  width: 160px;
  margin-left: 0;
}

.panorama .panorama-sections .panorama-section.tile-span-2 {
  width: 320px;
  margin-left: 0;
}

.panorama .panorama-sections .panorama-section.tile-span-3 {
  width: 480px;
  margin-left: 0;
}

.panorama .panorama-sections .panorama-section.tile-span-4 {
  width: 640px;
  margin-left: 0;
}

.panorama .panorama-sections .panorama-section.tile-span-5 {
  width: 640px;
  margin-left: 0;
}

.panorama .panorama-sections .panorama-section.tile-span-6 {
  width: 800px;
  margin-left: 0;
}

.panorama .panorama-sections .panorama-section.tile-span-7 {
  width: 960px;
  margin-left: 0;
}

.panorama .panorama-sections .panorama-section.tile-span-8 {
  width: 1120px;
  margin-left: 0;
}

#panorama-scroll-prev,
#panorama-scroll-next {
  position: absolute;
  top: 38px;
  left: 0;
  width: 32px;
  height: 32px;
  padding: 0;
  font-family: 'IcoMoon';
  font-size: 20px;
  font-weight: normal;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
  vertical-align: 24%;
  border-style: solid;
  border-width: 2px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  outline: 0;
}

#panorama-scroll-next {
  right: 0;
  left: auto;
}

.pivot {
  position: relative;
}

.pivot .pivot-headers {
  margin-bottom: 10px;
}

.pivot .pivot-headers a {
  margin: 0 10px 0 0;
  font-size: 26px;
  font-weight: 300;
  line-height: 34px;
  color: #555555;
  text-decoration: none;
  text-transform: lowercase;
}

.pivot .pivot-headers a:hover {
  color: #222222;
}

.pivot .pivot-headers a.active {
  font-weight: 400;
  color: #222222;
}

.pivot .pivot-items {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.pivot .pivot-items .pivot-item {
  position: relative;
  display: none;
  -webkit-transition: 0.4s ease-in-out left;
     -moz-transition: 0.4s ease-in-out left;
       -o-transition: 0.4s ease-in-out left;
          transition: 0.4s ease-in-out left;
}

.pivot .pivot-items .active,
.pivot .pivot-items .next,
.pivot .pivot-items .prev {
  display: block;
}

.pivot .pivot-items .active {
  left: 0;
}

.pivot .pivot-items .next,
.pivot .pivot-items .prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.pivot .pivot-items .next {
  left: 100%;
}

.pivot .pivot-items .prev {
  left: -100%;
}

.pivot .pivot-items .next.left,
.pivot .pivot-items .prev.right {
  left: 0;
}

.pivot .pivot-items .active.left {
  left: -100%;
}

.pivot .pivot-items .active.right {
  left: 100%;
}