.accent-bg {
  background: #24A0DA;
}

html,
body {
  color: #333;
  background-color: #FFF;
}

a {
  color: #4f1acb;
}

a:hover {
  color: rgba(79, 26, 203, 0.8);
}

a:hover:active {
  color: rgba(79, 26, 203, 0.6);
}

a[disabled],
a[disabled]:active {
  color: rgba(0, 0, 0, 0.4);
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=tel],
input[type=url],
input[type=search],
select,
textarea,
input::-ms-check {
  color: #000;
  background-color: rgba(255, 255, 255, 0.8);
  border-color: rgba(0, 0, 0, 0.27);
}

input[type=text]:disabled,
input[type=password]:disabled,
input[type=email]:disabled,
input[type=number]:disabled,
input[type=tel]:disabled,
input[type=url]:disabled,
input[type=search]:disabled,
textarea:disabled,
.win-textarea:disabled,
select:disabled,
input:disabled::-ms-check,
input:disabled:active::-ms-check {
  color: rgba(0, 0, 0, 0.4);
  background-color: rgba(202, 202, 202, 0.4);
  border-color: rgba(0, 0, 0, 0.15);
}

input[type=file] {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}

input[type]:invalid {
  outline-color: #ff8033;
  outline-width: 2px;
}

select:focus option:hover {
  color: #000;
  background-color: #dedede;
}

option:hover:active,
select:focus option:hover:active {
  color: #000;
  background-color: #d3d3d3;
}

option:hover {
  color: #000;
  background-color: #c5c5c5;
}

option:checked:hover,
select:focus option:checked:hover {
  color: #FFF;
  background-color: #5f37be;
}

option:checked:disabled,
option:checked:disabled:active,
optgroup:disabled option:checked,
optgroup:disabled option:checked:active,
select:disabled option:checked,
select:disabled option:checked:active,
select:disabled:focus::-ms-value {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(0, 0, 0, 0.55);
}

option:checked,
select:focus::-ms-value {
  color: #FFF;
  background-color: #4617b4;
}

button:hover:active .win-commandimage {
  color: #FFF;
}

button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=file]::-ms-browse:hover {
  background-color: rgba(205, 205, 205, 0.82);
  border-color: rgba(164, 164, 164, 0.45);
}

button[type=submit],
input[type=submit] {
  color: #FFF;
  background-color: #4617b4;
  border-color: transparent;
  background-clip: border-box;
}

.dropdown-menu {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  min-width: 160px;
}

#header-container .dropdown-menu .divider {
  background-color: #e5e5e5;
}

a[aria-selected=true]:active .win-commandimage,
button[aria-selected=true]:active .win-commandimage {
  color: #000000;
}

.alert .close {
  color: #FFF;
}

.well {
  background-color: #FFF;
}

.btn {
  color: #000;
  text-shadow: none;
  background-color: rgba(182, 182, 182, 0.7);
  background-image: none;
  background-repeat: no-repeat;
  border: 2px solid #cccccc;
  border-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  filter: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn.active,
.btn:active {
  color: #FFF;
  background-color: #000;
  border-color: #000;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover {
  background-color: rgba(205, 205, 205, 0.82);
  border-color: rgba(205, 205, 205, 0.82);
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}

.btn:focus {
  outline: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

a:hover .win-commandring,
button:hover .win-commandring {
  background-color: rgba(0, 0, 0, 0.13);
  border-color: #000;
}

.win-commandring,
a:active .win-commandring,
.win-commandring,
button:active .win-commandring {
  background-color: transparent;
  border-color: #000;
}

button[aria-checked=true]:hover .win-commandimage,
button[aria-checked=true]:hover:active .win-commandimage {
  color: #000;
}

a[aria-checked=true] .win-commandring,
a[aria-checked=true]:active .win-commandring,
button[aria-checked=true] .win-commandring,
button[aria-checked=true]:active .win-commandring {
  background-color: #000;
  border-color: #000;
}

button.win-command {
  background-color: transparent;
  border-color: transparent;
}

button.win-command:hover {
  background-color: transparent;
  border-color: transparent;
}

a#user-info h3,
a#user-info h4 {
  color: #008287;
}

a[aria-checked=true]:hover .win-commandring,
button[aria-checked=true]:hover .win-commandring {
  background-color: rgba(0, 0, 0, 0.13);
  border-color: #000;
}

a[aria-checked=true]:hover:active .win-commandring,
button[aria-checked=true]:hover:active .win-commandring {
  background-color: rgba(255, 255, 255, 0.13);
  border-color: #000;
}

button:disabled,
button[type=submit]:disabled,
input[type=button]:disabled,
input[type=reset]:disabled,
input[type=submit]:disabled,
input[type=file]:disabled::-ms-browse,
button:disabled:active,
button[type=submit]:disabled:active,
input[type=button]:disabled:active,
input[type=reset]:disabled:active,
input[type=submit]:disabled:active,
input[type=file]:disabled::-ms-browse:active {
  color: rgba(0, 0, 0, 0.4);
  background-color: rgba(202, 202, 202, 0.4);
  border-color: rgba(0, 0, 0, 0.08);
}

a:hover:active .win-commandring,
button:hover:active .win-commandring {
  background-color: #000;
  border-color: #000;
}

a:active .win-commandimage,
button:active .win-commandimage {
  color: #FFF;
}

a.win-command .win-label,
button.win-command .win-label {
  color: #000;
}

.win-backbutton:hover:active {
  color: #FFF;
  background-color: #000;
  border-color: #000;
}

.btn.disabled,
.btn[disabled] {
  color: rgba(0, 0, 0, 0.4);
  background-color: rgba(202, 202, 202, 0.4);
  border-color: rgba(0, 0, 0, 0.08);
}

input:hover:active::-ms-check {
  color: #FFF;
  background-color: #000;
  border-color: transparent;
  background-clip: border-box;
}

button[type=submit]:hover,
input[type=submit]:hover {
  color: #FFF;
  background-color: #5f37be;
  border-color: transparent;
  background-clip: border-box;
}

button[aria-checked=true]:disabled .win-commandimage,
button[aria-checked=true]:disabled:active .win-commandimage {
  color: #FFF;
}

.win-ui-dark a[disabled],
.win-ui-dark a[disabled]:active {
  color: rgba(255, 255, 255, 0.4);
}

a[aria-checked=true]:disabled .win-commandring,
a[aria-checked=true]:disabled:active .win-commandring,
button[aria-checked=true]:disabled .win-commandring,
button[aria-checked=true]:disabled:active .win-commandring {
  background-color: rgba(0, 0, 0, 0.4);
  border-color: rgba(0, 0, 0, 0.4);
}

.win-ui-dark input[type=text],
.win-ui-dark input[type=password],
.win-ui-dark input[type=email],
.win-ui-dark input[type=number],
.win-ui-dark input[type=tel],
.win-ui-dark input[type=url],
.win-ui-dark input[type=search],
.win-ui-dark textarea,
.win-ui-dark .win-textarea,
.win-ui-dark select,
.win-ui-dark input::-ms-check {
  color: #000;
  background-color: rgba(255, 255, 255, 0.8);
  border-color: transparent;
  background-clip: border-box;
}

a#user-info:hover h3,
a#user-info:hover h4 {
  color: #FFF;
}

button[aria-checked=true] .win-commandimage,
button[aria-checked=true]:active .win-commandimage {
  color: #FFF;
}

.win-backbutton {
  color: #5A5A5A;
  background-color: transparent;
  border-color: #5A5A5A;
}

.win-ui-dark button,
.win-ui-dark input[type=button],
.win-ui-dark input[type=submit],
.win-ui-dark input[type=reset],
.win-ui-dark input[type=file]::-ms-browse {
  color: #FFF;
  background-color: transparent;
  border-color: #FFF;
}

input[type=text]:hover,
input[type=password]:hover,
input[type=email]:hover,
input[type=number]:hover,
input[type=tel]:hover,
input[type=url]:hover,
input[type=search]:hover,
textarea:hover,
select:hover,
.win-textarea:hover,
input:hover::-ms-check {
  color: #000;
  background-color: rgba(255, 255, 255, 0.87);
  border-color: rgba(0, 0, 0, 0.44);
}

.progress {
  color: #4617b4;
  background-color: #D4D4D4;
}

a:disabled .win-commandring,
a:disabled:active .win-commandring,
button:disabled .win-commandring,
button:disabled:active .win-commandring {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.4);
}

.win-ui-dark button[aria-checked=true]:hover .win-commandimage,
.win-ui-dark button[aria-checked=true]:hover:active .win-commandimage {
  color: #FFF;
}

a:active .win-commandring,
button:active .win-commandring {
  background-color: #000;
  border-color: #000;
}

.win-appbar {
  background-color: #FFF;
  border-color: #FFF;
}

a[aria-selected=true]:active .win-commandring,
button[aria-selected=true]:active .win-commandring {
  background-color: rgba(255, 255, 255, 0.13);
  border-color: #000;
}

.win-ui-dark a:active .win-commandring,
.win-ui-dark button:active .win-commandring {
  background-color: #FFF;
  border-color: #FFF;
}

.accent-color,
header h1,
header h2,
table th {
  color: #24A0DA;
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.win-ui-dark.progress.progress-indeterminate {
  background-color: #1D1D1D;
}

.btn:active,
.btn.active {
  background-color: #cccccc;
}

.win-ui-dark a[aria-checked=true]:hover:active .win-commandring,
.win-ui-dark button[aria-checked=true]:hover:active .win-commandring {
  background-color: transparent;
  border-color: #FFF;
}

.win-ui-dark button[aria-checked=true]:disabled .win-commandimage,
.win-ui-dark button[aria-checked=true]:disabled:active .win-commandimage {
  color: rgba(0, 0, 0, 0.4);
}

.win-backbutton:disabled,
.win-backbutton:disabled:active {
  color: rgba(0, 0, 0, 0.4);
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.4);
}

.win-backbutton:hover {
  color: #000;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.13);
  border-color: #000;
}

.win-ui-dark option:checked:disabled,
.win-ui-dark option:checked:disabled:active,
.win-ui-dark optgroup:disabled option:checked,
.win-ui-dark optgroup:disabled option:checked:active,
.win-ui-dark select:disabled option:checked,
.win-ui-dark select:disabled option:checked:active,
.win-ui-dark select:disabled:focus::-ms-value {
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 0.4);
}

a#user-info:hover {
  background-color: #008287;
}

button.win-command:focus {
  border-color: #000;
}

a.win-command:disabled .win-label,
a.win-command:disabled:active .win-label,
button.win-command:disabled .win-label,
button.win-command:disabled:active .win-label {
  color: rgba(0, 0, 0, 0.4);
}

button.win-command:hover:active {
  color: inherit;
  background-color: transparent;
}

.win-ui-dark input:disabled::-ms-check,
.win-ui-dark input:disabled:active::-ms-check {
  color: rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.4);
  border-color: transparent;
  background-clip: border-box;
}

button.win-command.win-hidefocus:focus {
  border-color: transparent;
}

button:disabled .win-commandimage,
button:disabled:active .win-commandimage {
  color: rgba(0, 0, 0, 0.4);
}

input[type=range],
input[type=range]::-ms-track {
  background-color: transparent;
}

.win-ui-dark .win-backbutton:disabled,
.win-ui-dark .win-backbutton:disabled:active {
  color: rgba(255, 255, 255, 0.4);
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.4);
}

.win-commandimage {
  color: #000;
}

button,
input[type=button],
input[type=submit],
input[type=reset],
input[type=file]::-ms-browse {
  color: #000;
  background-color: rgba(182, 182, 182, 0.7);
  border-color: rgba(0, 0, 0, 0.2);
}

input[type=file]:disabled::-ms-browse,
input[type=file]:disabled::-ms-browse:active {
  border-color: rgba(0, 0, 0, 0.15);
}

.win-ui-dark input[type=text]:focus,
.win-ui-dark input[type=text]:active,
.win-ui-dark input[type=password]:focus,
.win-ui-dark input[type=password]:active,
.win-ui-dark input[type=email]:focus,
.win-ui-dark input[type=email]:active,
.win-ui-dark input[type=number]:focus,
.win-ui-dark input[type=number]:active,
.win-ui-dark input[type=tel]:focus,
.win-ui-dark input[type=tel]:active,
.win-ui-dark input[type=url]:focus,
.win-ui-dark input[type=url]:active,
.win-ui-dark input[type=search]:focus,
.win-ui-dark input[type=search]:active,
.win-ui-dark textarea:focus,
.win-ui-dark textarea:active,
.win-ui-dark .win-textarea:focus,
.win-ui-dark .win-textarea:active,
.win-ui-dark select:focus,
.win-ui-dark select:active {
  color: #000;
  background-color: #FFF;
  border-color: transparent;
  background-clip: border-box;
}

.win-ui-dark a:hover .win-commandring,
.win-ui-dark button:hover .win-commandring {
  color: #FFF;
  background-color: rgba(255, 255, 255, 0.13);
  border-color: #FFF;
}

hr.win-command {
  background-color: #7b7b7b;
}

input[type]:disabled:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.22);
}

input[type=text]:focus,
input[type=text]:active,
input[type=password]:focus,
input[type=password]:active,
input[type=email]:focus,
input[type=email]:active,
input[type=number]:focus,
input[type=number]:active,
input[type=tel]:focus,
input[type=tel]:active,
input[type=url]:focus,
input[type=url]:active,
input[type=search]:focus,
input[type=search]:active,
textarea:focus,
textarea:active,
.win-textarea:focus,
.win-textarea:active,
select:focus,
select:active {
  color: #000;
  background-color: #FFF;
  border-color: rgba(0, 0, 0, 0.6);
}

button:hover:active,
button[type=submit]:hover:active,
input[type=button]:hover:active,
input[type=reset]:hover:active,
input[type=submit]:hover:active,
input[type=file]::-ms-browse:hover:active {
  color: #FFF;
  background-color: #000;
  border-color: transparent;
  background-clip: border-box;
}

button.win-command:active {
  color: inherit;
  background-color: transparent;
}

button.win-command:disabled {
  background-color: transparent;
  border-color: transparent;
}

.btn-primary {
  color: #FFF;
  background-color: #59008C;
  background-image: none;
  background-repeat: no-repeat;
  border-color: #59008C;
  filter: none;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #CCC;
  background-color: #781096;
  border-color: #781096;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #781096;
  border-color: #781096;
}

.btn-success {
  background-color: #5bb75b;
  background-image: none;
  background-repeat: no-repeat;
  border-color: #5bb75b;
  filter: none;
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #51a351;
  border-color: #51a351;
}

.btn-success:active,
.btn-success.active {
  background-color: #408140;
  border-color: #408140;
}

.btn-info {
  background-color: #49afcd;
  background-image: none;
  background-repeat: no-repeat;
  border-color: #49afcd;
  filter: none;
}

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #2f96b4;
  border-color: #2f96b4;
}

.btn-info:active,
.btn-info.active {
  background-color: #24748c;
  border-color: #24748c;
}

.btn-danger {
  background-color: #da4f49;
  background-image: none;
  background-repeat: no-repeat;
  border-color: #da4f49;
  filter: none;
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #bd362f;
  border-color: #bd362f;
}

.btn-danger:active,
.btn-danger.active {
  background-color: #942a25;
  border-color: #942a25;
}

.btn-warning {
  background-color: #faa732;
  background-image: none;
  background-repeat: no-repeat;
  border-color: #faa732;
  filter: none;
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #f89406;
  border-color: #f89406;
}

.btn-warning:active,
.btn-warning.active {
  background-color: #c67605;
  border-color: #c67605;
}

.btn-inverse {
  background-color: #414141;
  background-image: none;
  background-repeat: no-repeat;
  border-color: #414141;
  filter: none;
}

.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  background-color: #222222;
  border-color: #222222;
}

.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808;
  border-color: #080808;
}

.win-ui-dark {
  background-color: #1D1D1D;
}

.win-ui-dark label {
  color: #FFF;
}

.win-ui-dark body {
  color: #FFF;
  background-color: #1D1D1D;
}

.win-ui-dark .win-backbutton {
  color: #FFF;
  background-color: transparent;
  border-color: #FFF;
}

.win-ui-dark button:hover:active .win-commandimage {
  color: #000;
}

.win-ui-dark .win-commandimage {
  color: #FFF;
}

.win-ui-dark .win-backbutton:hover:active {
  color: #000;
  background-color: #FFF;
  border-color: #FFF;
}

.win-ui-dark .win-backbutton:hover {
  background-color: rgba(255, 255, 255, 0.13);
  border-color: #FFF;
}

.win-ui-dark input:hover:active::-ms-check {
  background-color: #FFF;
}

.win-ui-dark a:hover:active {
  color: rgba(156, 114, 255, 0.6);
}

.win-ui-dark button.win-command:focus {
  border-color: #FFF;
}

.win-ui-dark a.win-command .win-label,
.win-ui-dark button.win-command .win-label {
  color: #FFF;
}

.win-ui-dark button[type=submit]:hover,
.win-ui-dark input[type=submit]:hover {
  background-color: #5f37be;
}

.win-ui-dark a:disabled .win-commandring,
.win-ui-dark a:disabled:active .win-commandring,
.win-ui-dark button:disabled .win-commandring,
.win-ui-dark button:disabled:active .win-commandring {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.4);
}

.win-ui-dark button:hover:active,
.win-ui-dark button[type=submit]:hover:active,
.win-ui-dark input[type=button]:hover:active,
.win-ui-dark input[type=reset]:hover:active,
.win-ui-dark input[type=submit]:hover:active,
.win-ui-dark input[type=file]::-ms-browse:hover:active {
  color: #000;
  background-color: #FFF;
  border-color: transparent;
  background-clip: border-box;
}

.win-ui-dark input[type]:disabled:-ms-input-placeholder,
.win-ui-dark textarea:disabled:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.22);
}

.win-ui-dark button[aria-checked=true] .win-commandimage,
.win-ui-dark button[aria-checked=true]:active .win-commandimage {
  color: #000;
}

.win-ui-dark input[type]:-ms-input-placeholder,
input[type]:-ms-input-placeholder,
.win-ui-dark textarea:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.win-ui-dark a[aria-checked=true] .win-commandring,
.win-ui-dark a[aria-checked=true]:active .win-commandring,
.win-ui-dark button[aria-checked=true] .win-commandring,
.win-ui-dark button[aria-checked=true]:active .win-commandring {
  background-color: #FFF;
  border-color: #FFF;
}

.win-ui-dark input[type=text]:disabled,
.win-ui-dark input[type=password]:disabled,
.win-ui-dark input[type=email]:disabled,
.win-ui-dark input[type=number]:disabled,
.win-ui-dark input[type=tel]:disabled,
.win-ui-dark input[type=url]:disabled,
.win-ui-dark input[type=search]:disabled,
.win-ui-dark input[type=file]::-ms-value,
.win-ui-dark textarea:disabled,
.win-ui-dark .win-textarea:disabled,
.win-ui-dark select:disabled,
.win-ui-dark input:disabled::-ms-check,
.win-ui-dark input:disabled:active::-ms-check {
  color: rgba(255, 255, 255, 0.4);
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.4);
}

.win-ui-dark button:disabled .win-commandimage,
.win-ui-dark button:disabled:active .win-commandimage {
  color: rgba(255, 255, 255, 0.4);
}

.win-ui-dark a.active .win-commandring,
.win-ui-dark button.active .win-commandring,
.win-ui-dark a[aria-checked=true]:hover .win-commandring,
.win-ui-dark button[aria-checked=true]:hover .win-commandring {
  background-color: rgba(255, 255, 255, 0.13);
  border-color: #FFF;
}

.win-ui-dark a:hover:active .win-commandring,
.win-ui-dark button:hover:active .win-commandring {
  background-color: #FFF;
  border-color: #FFF;
}

.win-ui-dark a[aria-checked=true]:disabled .win-commandring,
.win-ui-dark a[aria-checked=true]:disabled:active .win-commandring,
.win-ui-dark button[aria-checked=true]:disabled .win-commandring,
.win-ui-dark button[aria-checked=true]:disabled:active .win-commandring {
  background-color: #FFF;
  border-color: #FFF;
}

.win-ui-dark button[type=submit],
.win-ui-dark input[type=submit] {
  background-color: #4617b4;
}

.win-ui-dark .win-commandring,
.win-ui-dark a:active .win-commandring,
.win-ui-dark .win-commandring,
.win-ui-dark button:active .win-commandring {
  background-color: transparent;
  border-color: #FFF;
}

.win-ui-dark a:active .win-commandimage,
.win-ui-dark button:active .win-commandimage {
  color: #000;
}

.win-ui-dark input[type=text]:hover,
.win-ui-dark input[type=password]:hover,
.win-ui-dark input[type=email]:hover,
.win-ui-dark input[type=number]:hover,
.win-ui-dark input[type=tel]:hover,
.win-ui-dark input[type=url]:hover,
.win-ui-dark input[type=search]:hover,
.win-ui-dark textarea:hover,
.win-ui-dark .win-textarea:hover,
.win-ui-dark select:hover,
.win-ui-dark input:hover::-ms-check {
  color: #000;
  background-color: rgba(255, 255, 255, 0.87);
  border-color: transparent;
  background-clip: border-box;
}

.win-ui-dark button:hover,
.win-ui-dark input[type=button]:hover,
.win-ui-dark input[type=reset]:hover,
.win-ui-dark input[type=file]::-ms-browse:hover {
  background-color: rgba(255, 255, 255, 0.13);
}

.win-ui-dark.win-appbar,
.win-ui-dark .win-appbar {
  background-color: #000;
  border-color: #000;
}

.win-ui-dark a.win-command:disabled .win-label,
.win-ui-dark a.win-command:disabled:active .win-label,
.win-ui-dark button.win-command:disabled .win-label,
.win-ui-dark button.win-command:disabled:active .win-label {
  color: rgba(255, 255, 255, 0.4);
}

.win-ui-dark button:disabled,
.win-ui-dark button[type=submit]:disabled,
.win-ui-dark input[type=button]:disabled,
.win-ui-dark input[type=reset]:disabled,
.win-ui-dark input[type=submit]:disabled,
.win-ui-dark input[type=file]:disabled::-ms-browse,
.win-ui-dark button:disabled:active,
.win-ui-dark button[type=submit]:disabled:active,
.win-ui-dark input[type=button]:disabled:active,
.win-ui-dark input[type=reset]:disabled:active,
.win-ui-dark input[type=submit]:disabled:active,
.win-ui-dark input[type=file]:disabled::-ms-browse:active {
  color: rgba(255, 255, 255, 0.4);
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.4);
}

.win-ui-dark .win-commandring.active,
.win-ui-dark .win-commandring.active {
  color: #000;
  background-color: #FFF;
}

.win-ui-dark a[aria-selected=true]:active .win-commandring,
.win-ui-dark button[aria-selected=true]:active .win-commandring {
  background-color: transparent;
  border-color: #FFF;
}