/* 
    Document   : calendario
    Created on : Aug 6, 2011, 10:46:12 PM
    Author     : Alexandre
    Description:
        Formatar a grid do calendario e a lista de agendamento
*/

div.calendario div.top {color: #444444; font-weight: bold; font-size: 15px; margin: 5px 0;}
div.calendario div.top-nav {display: inline-block; padding: 0 2px; border: solid 1px #991111; background-color: #991111;}
div.calendario div.top-add {display: inline-block; padding: 0 2px; float: right;}

div.calendario div.top-nav a{color:#FFFFFF; font-weight: normal;}
div.calendario div.top-nav a:hover{color:#FF9999; font-weight: normal;}

div.calendario table th {background-color: #eeeeee; text-transform: none; color: #444444; padding: 4px; text-align: center;}
div.calendario table td {border: 1px solid #cccccc; padding-top: 0px;width:14%}
div.calendario table td a:hover {font-weight: normal;}

div.calendario table td.cell-today {background-color: #e2e8f6;}
div.calendario table td.cell-weekend {background-color: #F3F5EB;}

div.calendario table td div.cell-number {text-align: center; width: 12px; font-size: 10px; display: inline-block; padding: 3px; border: solid 1px #881111; background-color: #991111; color:#dddddd; float: right;}
div.calendario table td div.cell-data {overflow: auto; display: inline-block; font-size: 10px; text-align: left; height:70px; width: 90%;}
div.calendario table thead th {border: 1px solid #cccccc;}

/* Lista de agendamento */ 
table.lista-agenda tr.line-date {border-top: 1px solid #989999;border-bottom: 1px solid #989999; background-color: #F3F5EB;}
table.lista-agenda tr.line-date td {font-weight: bold; font-size:14px; text-align: center;}
table.lista-agenda td.cell-time {width:16%;}
table.lista-agenda td.cell-title {width:38%;}
table.lista-agenda td.cell-local {width:30%;}
table.lista-agenda td.cell-creator {width:16%;}


