.ch-field {
	padding:7px;
	font-size:12px;
	margin-bottom:20px;
	border-top: 1px solid #fff !important;
	border-top: 1px solid rgba(255, 255, 255, 0.9) !important;
	border-left: 1px solid #fff !important;
	border-left: 1px solid rgba(100, 100, 100, 0.1) !important;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 1px 1px 0 #CCCACB;
	-webkit-box-shadow: 1px 1px 0 #CCCACB;
	box-shadow: 1px 1px 0 #CCCACB;
	position: relative;
	color: #225b86;
	text-shadow: 0 1px 0 #fff;
	border: 1px solid #cadcea;
	background: #e1f2fc;
	background: -webkit-gradient(linear, left top, left bottom, from(#F7F5F6),
		to(#EBEBEB) );
	background: -moz-linear-gradient(top, #F7F5F6, #EBEBEB);
	-pie-background: linear-gradient(top, #F7F5F6, #EBEBEB);
	color: #225b86;
	text-shadow: 0 1px 0 #fff;
}

.ch-notice {
	border: 1px solid #cadcea;
	background: #e1f2fc;
	background: -webkit-gradient(linear, left top, left bottom, from(#F7F5F6),
		to(#EBEBEB) );
	background: -moz-linear-gradient(top, #F7F5F6, #EBEBEB);
	-pie-background: linear-gradient(top, #F7F5F6, #EBEBEB);
	color: #225b86;
	text-shadow: 0 1px 0 #fff;
}

.ch-field.ch-info {
	border: 1px solid #cadcea;
	background: #e1f2fc;
	background: -webkit-gradient(linear, left top, left bottom, from(#e1f2fc),
		to(#cae9fd) );
	background: -moz-linear-gradient(top, #e1f2fc, #cae9fd);
	-pie-background: linear-gradient(top, #e1f2fc, #cae9fd);
	color: #225b86;
	text-shadow: 0 1px 0 #fff;
}

.ch-field.ch-important {
	border: 1px solid #eeb7ba;
	background: #fae2e2;
	background: -webkit-gradient(linear, left top, left bottom, from(#fae2e2),
		to(#f2cacb) );
	background: -moz-linear-gradient(top, #fae2e2, #f2cacb);
	-pie-background: linear-gradient(top, #fae2e2, #f2cacb);
	color: #be4741;
	text-shadow: 0 1px 0 #fff;
}

.ch-field .ch-error { font-weight:bold; font-style:italic; color:red }

.ch-field label { font-weight:bold!important }

.ch-field input { padding:3px!important }

.button { font-size:13px }