body { color:#575756; font:normal 12px/1.2 Myriad, Arial, Verdana, Sans Serif; }
#container { width:90%!important }
.cabecalho { min-height:80px }
.navbar.red { margin-top:20px }
.navbar.red .navbar-inner { min-height:30px; }
.navbar.red ul.nav li a { color:white; text-shadow:none; padding:5px 10px 5px }
.navbar.red ul.nav li a:hover { background-color:#d10a0f }
.icon-black { background-image: url("../images/glyphicons-halflings.png")!important }
.navbar.red .navbar-inner,
.titulo-header {
	background-color: #d10a0f;
	background-image: -moz-linear-gradient(top,#d10a0f,#780e00);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#d10a0f),to(#780e00));
	background-image: -webkit-linear-gradient(top,#d10a0f,#780e00);
	background-image: -o-linear-gradient(top,#d10a0f,#780e00);
	background-image: linear-gradient(to bottom,#d10a0f,#780e00);
	background-repeat: repeat-x;
	border:none;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#1B1B1B',endColorstr='#780e00',GradientType=0);
}
.titulo-header { width:100%; padding:10px 0; text-indent:20px; -webkit-border-radius:6px 6px 0 0;
	-moz-border-radius:6px 6px 0 0; border-radius:6px 6px 0 0; color:white }
.menu-lateral,.conteudo {
	display: block;
    float: left;
    min-height: 30px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.menu-lateral {
	width: 17.52991452991453%!important;
    *width: 17.476723040552828%!important;
}
.menu-lateral ul li a {
	display: block;
	padding: 8px 14px;
	border: 1px solid #E5E5E5;
	border-top:none;
}
.conteudo {
	margin-left: 2.564102564102564%;
    *margin-left: 2.5109110747408616%;
	width: 79.90598290598291%!important;
    *width: 79.8527914166212%!important;
}
@media (min-width: 768px) and (max-width: 979px) {
	.menu-lateral {
		width: 17.3646408839779%!important;
	    *width: 17.311449394616199%!important;
	}
	.conteudo {
		margin-left: 2.564102564102564%;
	    *margin-left: 2.5109110747408616%;
		width: 79.87292817679558%;
		*width: 79.81973668743387%!important;
	}
}
.br { min-height:10px }
.box-login { padding:0 20px; font-size:small; }
.box-login h3 { font-weight: normal; margin-top:0 }
.box-login ul { padding:0; margin:0; list-style: none; }
.box-login ul li { list-style: circle; margin:10px 15px; padding:5px; }
.form-login { padding-left:20px; border-left:solid 1px #E0E0E0 }
label { margin-bottom:3px; font-weight:bold; font-size:12px }
[class*="span"].right { text-align:right; }
.btn-mini [class*="icon"] { margin-top:-1px }
.div-table { /*border:1px solid #989999; */-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.div-table .table th, .table td { /*border:none*/ }
.div-table .table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th { background-color:#F5FFFF }
p.help { display: inline-block; padding-left: 5px; vertical-align: middle; }
input.form-error { border-color:#B94A48 }
ul.ul-inline { list-style-type: none; padding:0; margin:0 }
ul.ul-inline li { padding-bottom:5px }