/*
 * estruturas.css
 * Disposição dos elementos do site
 */

/* Table of Contents:
	
	Entire Body
	Header
	Middle
	Footer
	
*/

/* Entire Body */

body {
	text-align: left;
	padding-bottom: 30px;
}


* html .clearfix{
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
/* Box com título - start*/

.box-com-titulo .box-com-titulo-header {
	background: #a71009 url("../img/fundo_degrade_vermelho.jpg") repeat-x top left;
	text-indent: 20px;
	display:block;
	padding: 7px 0 5px 0;
	
	-moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}

.slider-imagens div.scrollableArea * {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	/* If you don't want the images in the scroller to be selectable, try the following
	   block of code. It's just a nice feature that prevent the images from
	   accidentally becoming selected/inverted when the user interacts with the scroller. */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/* Box com título - end*/

/* Header */

#header {
	margin-top: 20px;
}

#header .grid_12 {
	width: 75%
}

#header #usuario-logado {
	padding-left: 20px;
	border-left: 1px solid #5E5B5C;
	float:left;
}

#header #usuario-logado > *{
	display: block;
}

#header #usuario-logado #usuario-logado-nome {
	min-width: 100px;
}

#header #usuario-logado #usuario-logado-nome #usuario-logado-agenda, .link-agenda {
	margin-left: 50px;
	text-align: right;
	width: 75px;
	height: 20px;
	background: #fff url("../img/agenda.png") no-repeat top left;
	display: inline-block;
}

#header #usuario-logado  #usuario-logado-nome #usuario-logado-agenda:hover {
	background-position: 0px -60px;
}

#header #turma-selecionada {
	float:right;
	text-align: right;
}

/* Menu Horizontal - start */
#header #menu-horizontal {
	background: #a71009 url("../img/fundo_degrade_vermelho.jpg") repeat-x top left;
	height: 29px;
	margin: 20px 0 40px 0;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#header #menu-horizontal #menu-horizontal-links {
	margin-right: 250px;
}
/*
#header #menu-horizontal #menu-horizontal-links {
	position:relative;
	float: left;
	left: 50%;
}

#header #menu-horizontal #menu-horizontal-links ul{
	float:left;
	left: -50%;
	list-style:none;
	position:relative;
}*/

#header #menu-horizontal #menu-horizontal-links li{
	float: left;
	text-align:center;
}

#header #menu-horizontal #menu-horizontal-links li a{
	width: 85px;
	height: 22px;
	float:left;
	padding-top: 7px;
}

#header #menu-horizontal #menu-horizontal-links li a:hover,
#header #menu-horizontal #menu-horizontal-links li a.menu-horizontal-selecionado {
	background: #a71009 url("../img/fundo_degrade_vermelho_claro.jpg") repeat-x top left;
}

/* Menu Horizontal - end */

/* Middle */ 

/* #menu-lateral - start*/
#menu-lateral {
	float:left;
	width: 250px;
}

#menu-lateral ul {
	border: 1px solid #9D9D9C;
	border-top: 0;
	width: 218px;
	margin-bottom: 40px;
}

#menu-lateral ul li {
	padding: 10px 0 10px 0;
	border-bottom: 1px solid #575756;
	width: 80%;
	margin:0 auto;
}

#menu-lateral ul li:last-child {
	border:0;
}

#menu-lateral ul li  a {
	text-indent: 15px;
	display:block;
	background: transparent url("../img/seta.jpg") no-repeat center left;
}

#menu-lateral ul li .menu-lateral-numero {
	float:right;
	background: #cc2229;
	width: 20px;
}

#menu-lateral #menu-lateral-titulo {
	width: 220px;
	clear:both;
}


/* SUBLINKS menu lateral */
#menu-lateral ul li ul {
	border: 0px;
	margin-bottom: 0px;
}

#menu-lateral ul li ul li {
	padding: 5px 0 5px 0;
	border-top: 0px;
	border-bottom: 0px solid #575756;
	width: 80%;
	margin:0 auto;
}

#menu-lateral ul li ul li a {
	text-indent: 15px;
	display:block;
	background: transparent url("../img/seta.jpg") no-repeat center left;
}

/* Fim Sublinks Menu Lateral */
/* #menu-lateral - end*/


#conteudo-wrap {
	float: left; 
	width: 100%; 
	min-width: 500px; 
	margin-right: -250px;
}

#conteudo {
	margin-right: 250px;
}

#conteudo #conteudo-container {
  margin: 20px 20px;
  width: 97%;
}

#conteudo #conteudo-container2 {
  margin: 20px 20px;
  width: 97%;
}


#conteudo .link-agenda {
	margin-left: 0;
	margin-top: 20px;
	text-align: right;
	width: 85px;
	height: 20px;
	background: #fff url("../img/agenda.png") no-repeat top left;
	display: inline-block;
	padding-top: 4px;
}

#grafico-membros-ativos img {
	display: none !important;
}

.container-parcerias .detalhes {
	border: 2px dashed #ccc;
	border-radius: 5px;
	margin-top: 20px;
	padding: 4px;
}

.container-parcerias img {
	margin: 5px;
	border: 5px solid #D31217;
}

.container-parcerias .icone-mais {
	background-color: #D31217;
	color: #FFF;
	font-weight: bold;
	padding: 1px 4px 1px 5px; 
	text-align: center;
}

.container-parcerias .fundo-vermelho {
	background-color: #D31217;
	color: #FFF;
	font-size: 10pt;
	font-variant: small-caps;
	padding: 1px 5px;
}


/* Tela Boas Vindas Login */
#login-bemvindo ul li{
	margin: 10px;
	padding: 5px;
	//color: #f00;
	list-style: circle;
	font-size: small;
}

/* footer */
#footer {
	position: relative;
	margin:0 0 10px 0;
}

#footer .endereco { float:right; padding:50px 0 0 17px; color:black }
#footer .endereco h2 { font:bold 17px 'BebasNeueRegular', Arial, Helvetica, sans-serif; color:#C0151B; text-transform:uppercase; }
#footer .endereco p { font:400 10px Verdana, Geneva, sans-serif }
#footer .endereco a { color:#C0151B; text-decoration:none }
#footer .endereco a:hover { font-weight:400 }

#footer #twitter {
	position: absolute;
	top:0;
	right:20px;
}

#footer #facebook {
	position: absolute;
	top: 0;
	right:90px;
}

.notificacao { position:relative }

.info-user { float:right; position:relative; background-color:#F7F7F7; min-height:100px;
		border-radius:5px; border:solid 1px #E3E3E3; padding:10px; font:400 12px Arial; color:black }
.box-info { float:left; position:relative; width:230px; padding:0 10px 0 10px; border-right:solid 1px #BDBDBD; min-height:100px }
.box-info:first-child { padding-left:0; width:160px }
.box-info:last-child { border-right:none }
.box-info a { color:#931004 }
.box-info a:hover { font-weight:400 }
.box-info .item { float:left; width:100%; position:relative; vertical-align:middle; margin-bottom:5px; display:table-cell; height:20px }
.box-info .item:last-child { margin-bottom:0 }
.box-info .item .img { float:left; position:relative; min-width:20px; margin-right:8px }
.box-info .item a:hover { font-weight:400 }
.box-info .image-profile { float:left; position:relative; min-height:90px; margin-right:15px }
.box-info .nome a { margin-bottom:5px; color:#931004; font-weight:bold; font-size:14px }
.box-info .nome { color:#931004; margin-bottom:10px; font-weight:bold }
.box-info .logout { position:absolute; bottom:-5px; right:0px; color:#931004 }
#calendario-dia { position:absolute; color:#2e2e2e; font-weight:bold; font-size:9px; top:8px;left:3px; padding:0 2px 0 2px }

/*
*	Desenvolvido por:
* 	Vinícius Oyama
*   www.viniciusoyama.com
*/
.item { position:relative }
.item .help { position:absolute; top:-12px; right:-14px; background-image: url('../img/help.png'); width:16px; height:16px; cursor:pointer }
input.check { background-image:url('../img/check.png'); background-repeat:no-repeat; background-position-y:center; background-position-x:97% }
.item .adicionar { height:14px; display:inline-block; margin:0; padding-right:18px; font-size:12px; background:url("/img/adicionar_inline.png") no-repeat top right transparent; }
.item .adicionar:hover { background: url("/img/adicionar_inline.png") no-repeat 100% -14px transparent; color: #52b437; cursor:pointer; }
.item .remover { height:14px; margin:0; padding-right:18px; background: url("/img/remover_inline.png") no-repeat top right transparent; }
.item .remover:hover { background:url("/img/remover_inline.png") no-repeat 100% -14px transparent; color:red; cursor:pointer; }