/*
 * forms.css
 * Formatação das tabelas
 */
 
 /* Table of Contents:
	
	Generic tables
	Specific tables
	
*/
 
.container-tabela {
	width: 100%;
	border: 1px solid #989999;
	width: 100%;
	margin:5px 0 10px 0!important;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.tabela-adicionar-item {
	display:block;
	text-align: right;
	font-size: 14px;
	margin-bottom: 5px;
	font-weight: bolder;	
}

.tabela-adicionar-item  form{
	float:left;	
}

.tabela-adicionar-item  a{
	float:right;	
}

table {
	border-collapse: collapse;
	font-size: 12px;
	width: 100%;
}

table thead, table tbody, table tfoot {
	width:100%;
}

thead th, tfoot th, tfoot td {
	padding-bottom: 5px;
}

thead{
	text-align: center;
	color:#000;
}

.container-tabela-financeiro {
	width: 100%;
	border: 0px solid #989999;
	width: 100%;
	
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.tabela-financeiro tbody tr td  {
	padding: 0px 0px 0px 0px;
}

.tabela-boletos tbody tr td  {
	padding: 5px;
}

.tabela-financeiro th, tfoor, td {
	padding-top: 0px;
}
.tabela-financeiro thead th {
	height: 15px;
    padding-top: 2px;
    background: #fff;
}

.tabela-financeiro tbody tr:hover td {
    background: #ddd !important;
	cursor:pointer;
}

tr.hover { cursor:pointer }

tr.hover:hover td {
    background: #ddd !important;
}

.tabela-boletos tbody tr:hover td a.despesas-do-boleto{
	color: #D31217;
}

.tabela-financeiro thead th:first-child{
	-moz-border-radius: 0px 0 0 0;
    -webkit-border-radius: 0px 0 0 0;
    border-radius: 0px 0 0 0;
}

.tabela-financeiro thead th:last-child{
	-moz-border-radius: 0 0px  0 0;
    -webkit-border-radius:0 0px  0 0;
    border-radius:0 0px  0 0;
}

	
	
.container-tabela-cupons {
	width: 100%;
	border: 0px solid #989999;
	width: 100%;
	
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.container-tabela-cupons thead th {
	background: #eee;
	height: 15px;
    padding-top: 4px;
}

.container-tabela-cupons tbody td {
	padding: 3px 0 3px 0;
	height: 30px;

}

/* Layout de impressao do talao das rifas */
.container-tabela-cupons {
	width: 100%;
	border: 1px dashed #999;
	width: 100%;
	
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    
}

.container-tabela-cupons thead th {
	background: #eee;
	height: 15px;
    padding-top: 4px;
    border-top: 0px;
}

.container-tabela-cupons tbody td {
	padding: 3px 0 3px 0;
	height: 60px;
	border: 1px dashed #999;
	border-left: 0px;
	border-right:0px;
}


thead th {
	
	background: transparent url("../img/fundo_degrade_cinza.jpg") repeat-x top left;
	height: 32px;
    padding-top: 7px;
}

thead th:first-child{
	-moz-border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    border-radius: 5px 0 0 0;
}

thead th:last-child{
	-moz-border-radius: 0 5px  0 0;
    -webkit-border-radius:0 5px  0 0;
    border-radius:0 5px  0 0;
}

tfoot th, tfoot td {
	padding-top: 10px;
}

tfoot th:first-child{
	-moz-border-radius: 0 0 5px 0;
    -webkit-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;
}

tfoot th:last-child{
	-moz-border-radius: 0 0 0 5px;
    -webkit-border-radius:0 0 0 5px;
    border-radius:0 0 0 5px ;
}

tfoot  .paginacao {
	float: right;
	margin-right: 10px;
}

tfoot  .paginacao .current{
	font-weight: bold;
	text-decoration: underline;
}

tfoot tr td {
	padding-left: 5px;
}


tbody tr td {
	padding: 15px 0 15px 0;
	text-align:center;
	/*border: 1px solid #989999;*/
}

tbody tr td:first-child{
	border-left: 0;
}

tbody tr td:last-child {
	text-align: center;
	border-right: 0;
}

table tr {
	border: 0;
}

th, td {
	vertical-align: middle;
}

tr.odd td, tr.odd th {
	background-color: #f5ffff;
}

.forum-container {
	font-size: 12px;
}

.forum-container .forum-mensagem{
	margin-top: 15px;
}
.forum-container .forum-mensagem-data {
	background: #555;
	color: #fff;
	padding: 3px;
	margin-bottom: 5px;
}

.forum-container .forum-mensagem-data span {
	float:right;
	margin-right: 3px;
}

.forum-container .forum-mensagem-dados p {
	margin: 0 0 0 5px;
}

.forum-container .forum-mensagem-dados-nome-usuario {
	font-size: 14px;
	color: #000;
}

.forum-container .forum-mensagem-texto {
	font-size: 14px;
	border-left: 1px solid #ccc;
	min-height: 60px;
	padding-left: 15px;
}

.forum-container .visualizar-arquivos-anexados {
	margin-top: 10px;
}

.forum-container .visualizar-arquivos-anexados ul{
	margin-top: 10px;
}

.forum-container .paginacao {
	float: right;
	margin-right: 10px;
}

.forum-container .paginacao .current{
	font-weight: bold;
	text-decoration: underline;
}

.forum-container .cancel {
	float:right;
}

.container-campanha-odd {
	margin-top: 10px;
	margin-bottom: 10px;
	background: #EDF8FA;
	//border-top: 2px dashed #BBB;
}

.tabela-valores-recomendados {
	border: 1px dashed #CCC;
	margin-left: 10px;
	background-color: #FAFAFA;
	margin-top: 10px;
}

.tabela-valores-recomendados tbody tr:hover td {

}

.tabela-valores-recomendados tbody tr td  {
	padding: 5px 0px 5px 0px;
}

.tabela-valores-recomendados tfoot tr td{
	height: 30px;
}

.tabela-valores-recomendados thead tr:first-child th{
	-moz-border-radius: 0px 0 0 0;
    -webkit-border-radius: 0px 0 0 0;
    border-radius: 0px 0 0 0;
	background: #EEE;
	padding: 0px;
}

.tabela-valores-recomendados thead tr th{
	-moz-border-radius: 0px 0 0 0;
    -webkit-border-radius: 0px 0 0 0;
    border-radius: 0px 0 0 0;
	background: #FCFCFC;
	padding: 0px;
	text-align: center;
}


.checkout-secao-container {
	border: 2px dashed;
	border-top: none;
	padding: 0px;
	overflow: hidden;
	margin-bottom: 10px;
	padding-bottom: 10px;
	margin-right: 15px;
	border-color: #AAA;
}

.tabela-checkout-resumo {
	padding: 0px;
	background: #fff;
	margin-left: 10px;
}

.tabela-checkout-resumo tbody tr td  {
	padding: 2px;
	height: 10px;
}


.tabela-checkout-resumo tbody tr td:first-child {
	background: #fff;
	font-weight: normal;
	text-align: right;
}

.tabela-checkout-resumo tbody tr td:last-child {
	background: #fff;
	font-weight: normal;
	text-align: left;
}

.tabela-checkout-resumo thead th:first-child{
	-moz-border-radius: 0px 0 0 0;
    -webkit-border-radius: 0px 0 0 0;
    border-radius: 0px 0 0 0;
	background: #fff;
	padding: 0px;
	height: 10px;
}

.tabela-talao-rifa {
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
}

.tabela-talao-rifa tr td {
	padding: 0px;
	margin: 0px;
	height: 10px;
	border: 0px;
}

.cupom-container {
	border: 1px dashed #000;
}

.cupom-container-esq {
	text-align: left;
}

.cupom-container-esq p {
	height:15px;
}

.cupom-sublinhado {
	border-bottom: 2px solid #000;
	border-collapse: collapse;
	padding-bottom: 0px;
	margin-bottom: 3px;
	margin-top:15px;
}

.cupom-container-dir {
	text-align: center;
	margin-left: 10px;
}

.cupom-container-dir p {
	padding-top: 8px;
}

.cupom-aviso-reclamacao {
	background: #ccc;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	padding: 3px 8px 3px 8px;
	margin: 3px 0px 5px 0px;
	color:#222;
}

.cupom-numero-direita {
	text-align: right;
	padding: 15px;
}

.cupom-numero-centro {
	margin: 0 auto;
	width: 100px;
	padding-top: 15px;
}

.cupom-numero {
	border: 1px solid #000;
	font-size: 12pt;
	text-align: center;
	padding: 5px 10px;
}

.tabela-cartela {
	width: auto;
}
.tabela-cartela tr td {
	padding: 5px;
	margin: 0px;
	background: #eee;
	width: 80px;
	height: 80px;
	font-size: 8pt;
	border: 1px solid #000;
}

.container-cartela {
	text-align: center; 
}

.legenda { padding:10px; border:solid 1px #575756; border-radius:4px; margin-bottom:10px; font-size:13px; float:left; margin-right:10px }
.legenda table { border-collapse: collapse; border:none; padding:0; margin:0 }
.legenda table tr td { text-align:left; padding:2px 0 2px 0; margin:0 }
.legenda span { width:15px; float:left; height:15px; border:none; margin-right:10px }