body,html { /*background-color: #c0392b*/ }
body { padding:0 }
#page-wrap { width:100% }
.fake-foto { width:100%; position:relative; display:inline-block; border:6px solid #f7f7f7;
    height:auto;
    border-radius:4px; box-shadow: 0 0 5px rgba(0,0,0,0.2); background:white;
    box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
.fake-foto.pequena { min-height:150px; }
.fake-foto.media { min-height:300px; }
.fake-foto.grande { min-height:450px; }
.fake-foto.enorme { min-height:700px; }
.fake-foto img { width: 100%; height:auto; display:block; float:left }
.fake-foto img:not(:first-child) { border-top:6px solid #f7f7f7 }
#main-header { position:fixed; top:0; left:0; height:80px; width:100%;
    background:white; margin:0; padding:0; z-index:1000 }
#main-header #nav { width:80%; position:relative; margin:0 auto; height:80px; }
#main-header #nav #logo { position:absolute; top:15px; left:0; float:left; width:120px;
    height:50px; display:inline-block; margin:0; background: #c0392b }
#main-header #nav ul { float:left; width:100%; margin:0; padding:0; border:0; list-style-type:none }
#main-header #nav ul li { position:relative; display:inline-block; margin:0; margin-right:25px; line-height:80px; }
#main-header #nav ul li:first-child { margin-left:150px }
#main-header #nav ul li a { color:#c0392b }
#main-header #nav ul li.login { float:right; margin-right:0 }
#main-header #nav ul li.login a { margin-top:10px }
#main-header #nav ul li.active a:after { position:absolute; top:100%;
    width:0; height:0; content: ""; border: 13px solid transparent;
    border-top-color:white; left: 50%; margin-left: -13px; }
#page-wrap .secao { width:80%; padding:0 10%; margin:0; padding-top:40px; padding-bottom:80px;
    border-bottom:solid 1px rgba(255,255,255,.2) }
#page-wrap .secao .titulo { font-size:30px; margin-bottom:20px; text-shadow: 0 1px 0 rgba(255,255,255,0.75); }
#page-wrap .secao .titulo.branco { color:white; text-shadow:0 1px 1px rgba(0,0,0,0.5); }
#page-wrap .secao.vermelho { background: #c0392b }
#page-wrap .secao.azul-escuro { background: #38424b url('../../img/gray-pattern.png'); }
#page-wrap .secao.cinza { background: #d3dae2 }
#page-wrap .secao.pastel { background: url(../../img/pastel.jpg) repeat; }
#page-wrap .secao.bem-vindo,
#page-wrap .secao.contato{ background: #c0392b }
#page-wrap .secao.bem-vindo { padding-top:160px }
#page-wrap .secao.bem-vindo .boas-vindas { margin-top:40px }
#page-wrap .secao.bem-vindo .boas-vindas * { text-align: center; color: white; text-shadow: 0 1px 1px rgba(0,0,0,0.5) }
#page-wrap .secao.bem-vindo .boas-vindas h2 { font-size:28px }
#page-wrap .secao.bem-vindo .boas-vindas p { width:90%; margin:0 auto; margin-top:20px; font-size:18px;
    line-height:26px }
#page-wrap .secao.formatura,
#page-wrap .secao.novidade { background: #d3dae2 }
#page-wrap .secao.novidade .novidades:not(:last-child) { margin-bottom:20px }
#page-wrap .secao.novidade .novidades .item { background: white; padding:15px }
#page-wrap .secao.novidade .novidades .item .img { float:left; margin-right: 15px; height:180px; width:120px;
    overflow: hidden; display: table-cell; }
#page-wrap .secao.novidade .novidades .item .img img { width: 100%; height:auto;
    display: inline-block !important }
#page-wrap .secao.novidade .novidades .item h3 { color:#149fd3 }
#page-wrap .secao.novidade .novidades .item p { margin-top:7px; font-size:18px; line-height: 24px }