.well { padding:6px; background:white }
.button.arquivos { width:100%; margin:0; display:none }
.exibir-assunto { margin-bottom:0 }
.nav-list li a { position:relative; cursor:pointer; padding:3px 10px; font-size:12px }
.nav-list li.active a i { position:relative; top:2px; margin-right:0 }
.nav-list li.nav-header { font-size:12px; margin-top:5px }
a .pendencia { position:absolute; width:14px; height:14px; top:4px; right:3px;
    padding:2px 0; font-size:14px; line-height:14px; }
a .pendencia.icon-As { color:white; background: #C70000; border-radius:2px }
a .pendencia.icon-As.ambos { background: #525252 }
a .pendencia.icon-As:before { content: '\0031' }
a .pendencia.icon-Comissao { color:orange }
a .pendencia.icon-Comissao:before { content: '\0060' }
a .pendencia.icon-Resolvido { color:#1e7145 }
a .pendencia.icon-Resolvido:before { content: '\e02e' }
.l { position:relative; margin:0; padding:0 }
.l .resp { position:absolute; top:0; left:0; width:90%; height:88%; min-height:250px;
    max-height:400px; display:none; padding:3%; margin:0 2%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); background:white }
.l .resp i.fechar { position:absolute; top:-10px; right:-10px; cursor:pointer;
    width:20px; height:20px; line-height: 20px; font-size:20px;
    color:white; background:#333333; border-radius:10px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5)}
.l .resp i.fechar:hover { opacity:.9 }
.l .resp .mcont { position:relative; width: 100%; height:100%; max-height:100%;
    padding:0; margin:0; overflow-y:auto!important }
.l .resp .mcont .mhed { position: relative; margin:0; padding:0; display: block;
    float: none !important; padding-bottom:10px; margin-bottom: 10px; }
.l .resp .mcont .mhed .img { width:50px; height:50px; overflow: hidden; display: table-cell;
    vertical-align: middle !important; background:#cccccc }
.l .resp .mcont .mhed .img img { width: 100%; height: 100%; display: inline-block !important;
    vertical-align: middle !important; }
.l .resp .mcont .mhed .mdet { margin-left:55px; margin-top:-40px; color:#333333 }
.l .resp .mcont .mhed .mdet .maut { display:block; font-size: 15px; font-weight:bold; color:#bc1c48;
    line-height:15px; margin-bottom:7px }
.l .resp .mcont .mhed .mdet .mtyp { display:block; font-size:13px; font-weight:300; font-style:italic }
.l .resp .mcont .mhed .mdet .mtyp .mdate { float:right; margin-right:5px; font-size:12px }
.l .resp .mcont .mopt .button { margin-right:5px }
.l .resp .mcont .mopt .button:last-child { margin-right:0 }
.l .resp .mcont .mbody {  }
.l .m { position: relative; margin:0; padding:5px; display: block;
    float: none !important; min-height:25px; cursor:pointer }
.l .m .img { width:25px; height:25px; overflow: hidden; display: table-cell;
    vertical-align: middle !important; background:#cccccc }
.l .m:nth-child(odd) { background: #f9f9f9; }
.l .m:hover { background: #f5f5f5; }
.l .m .img img { width: 100%; height: 100%; display: inline-block !important;
    vertical-align: middle !important; }
.l .m .b { margin-left:35px; margin-top:-22px; color:#333333 }
.l .m:hover .b { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2); }
.l .m .b .t { font-weight: bold; }
.l .m .b .t i { font-weight:300; font-size:12px }
.l .m .b .d { float: right; font-size:10px }
.anexos i:hover { color:red }