.table { max-width: 100%; width: 100%; background-color: transparent; border-collapse: collapse;
	border-spacing: 0; }
.table tr td { border-bottom:1px #999 dashed; border-left:1px #999 transparent; border-top:1px transparent dashed;
	padding:14px 0; }
.table tr .border-left { border-left:1px #999 dashed }
.table tr td:last-child { border-right:1px #999 dashed }
.table tr th,
.table tr td { font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	font-weight: 400; font-size: 12px; text-align: center; letter-spacing: 0.01em; }
.table thead tr th,
.table tfoot tr td { display: table-cell; background:#eee; vertical-align: middle;
	padding:8px 0; border-bottom:1px #999 dashed; border-left:1px transparent dashed;
	border-top:1px #999 dashed; line-height: 14pt; font-smooth: always; }
.table thead tr th:last-child { border-right:1px #999 dashed }
.table tfoot tr td { padding-left:10px; text-align:left }
.table tr td button { margin:0; color:white }
.table tr td input { margin:0!important; min-height:26px }