@font-face {
  font-family: 'Jacques Francois';
  font-style: normal;
  font-weight: 400;
  src: local('Jacques Francois'), local('JacquesFrancois-Regular'),
      url('../fonts/Jacques_Francois.woff') format('woff');
}