.input-control.required label span { float: right }
.input-control.required label:after {
    font-family: 'IcoMoon';
    -webkit-font-smoothing: antialiased;
    margin-left:4px;
    width:12px;
    height:12px;
    font-weight: normal;
    content: "\e126";
    speak: none;
    font-size:12px;
    line-height: 12px;
    vertical-align:5%;
    color:#666666;
}
.input-control.error label,
.input-control.error label:after { color:rgb(236,82,97) }
input.error,
input.form-error,
textarea.error,
textarea.form-error { border-color:rgb(236,82,97)!important }
input.error:focus,
input.form-error:focus,
textarea.error:focus,
textarea.form-error:focus {
  border-color: rgba(236,82,97,0.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(236,82,97,0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(236,82,97,0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(236,82,97,0.6);
}