.notas, .notas * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
    box-sizing: border-box }
.notas {
  position: relative;
  width:100%;
  float:left;
  height:330px;
  border-color: #DEE184;
  margin:0;
  padding:0 10px;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  font-family: Chalkboard, 'Comic Sans';
}
.notas .div { position:relative; float:left; width:100%; padding:0; margin:0;
    overflow:hidden }
.notas .opcoes { height:40px; }
.notas .opcoes .titulo { position: absolute; top: 0; left: 0; height: 40px;
    width:100%; line-height: 18px; font-size: 18px; padding:11px 0;
    text-align:center; z-index: 10 }
.notas .opcoes i { height: 40px; width: auto; float: left; position: relative;
    display: inline-block; padding: 11px 0; font-size: 18px;
    line-height: 18px; margin:0; margin-left:10px; z-index: 15 }
.notas .opcoes i.direita { float: right }
.notas .opcoes i:first-child { margin-left: 0 }
.notas .opcoes i:hover { cursor: pointer; opacity:.7 }
.notas .conteudo { height:250px; }
.notas .conteudo .nota { width:100%; height:230px; margin:20px 0 0 0; font-size: 18px;
    line-height:20px; border: none; display: block; resize: none; padding:0;
    outline: none; font-family:'Gloria Hallelujah', cursive; border-radius:8px }
.notas .conteudo .nota[disabled="disabled"]:hover { cursor: default }
.notas .conteudo .detalhes { position: absolute; top:0; font-size:11px; line-height: 11px }
.notas .conteudo .data-criacao { left:0; font-style: italic }
.notas .conteudo .salvo { right:0; color:#999 }
.notas .conteudo ul { float:left; height:250px; overflow-y: auto; list-style-type:none }
.notas .conteudo ul li { float:left; width:100%; padding:10px 0 7px 0; font-size: 16px;
    line-height: 16px; border-top:solid 1px #bc644a }
.notas .conteudo ul li:first-child { margin-top:10px; border-top: none }
.notas .conteudo ul li:hover { cursor: pointer; opacity:.9 }