/*   
  SmartWizard 2.0 plugin 
  jQuery Wizard control Plugin
  by Dipu
  
  http://www.techlaboratory.net
  http://tech-laboratory.blogspot.com
*/
.swMain {
	position: relative;
	float: left;
	width:100%;
	display : block;
	margin:0;
	padding:0;
	border: 0px solid #CCCCCC;
	overflow: visible;
	display: block
}

.swMain .stepContainer {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	border: 0px solid #CCCCCC;
	overflow:visible;
	clear: both;
	height:auto;
}

.swMain .stepContainer div.content {
	display: block;
	float: left;
	width:100%;
	height: auto;
	min-height :300px;
	padding-bottom:20px;
	margin:0;
	background-color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius  : 5px;
	text-align: left;
	overflow: visible;
	z-index: 88;
}

.swMain .stepContainer div.content form { float:left }

.swMain div.actionBar {
	display: block;
	position: relative;
	clear: both;
	width:100%;
	margin:0 auto;
	border-top:none;
	padding:0;
	color: #5A5655;
	text-align: left;
	overflow: auto;
	z-index: 88;
}

.swMain ul.anchor { position: relative; width:100%; display: block; float: left;
	list-style: none; padding:0; margin:0 0 3% 0; clear: both; background: transparent;
	border:none; max-height:60px; }
.swMain ul.anchor li { position: relative; display: block; margin: 0; padding: 0;
	padding-left:7px; float: left }
.swMain ul.anchor li:first-child { padding-left:0 }
.swMain ul.anchor li a { padding:15px 0 15px 15px; min-width:160px; margin-right:-5px; background-position:95% center!important;
	background-color:#ffffff; background-repeat:no-repeat!important; position:relative; display:inline-block;
	border:solid 1px #CCCCCC; border-left:none; border-right:none;  }
.swMain ul.anchor li:first-child a { border-left:solid 1px #CCCCCC }
.swMain ul.anchor li a:before { width:0px; height:0px; border-top:26px inset transparent;
	border-bottom:26px inset transparent; border-left:26px solid #CCCCCC; position: absolute;
	content: ""; top: -1px; left: 0; }
.swMain ul.anchor li a:after { width:0px; height:0px; border-top:26px inset transparent;
	border-bottom:26px inset transparent; border-left:26px solid #fff; position: absolute;
	content: ""; top:-1px; right: -26px; z-index:2; }
.swMain ul.anchor li:first-child a:before { border:none; }
.swMain ul.anchor li:last-child a:after { border:none; }
.swMain ul.anchor li:last-child a { border-right: solid 1px #CCCCCC }
.swMain ul.anchor li a .stepDesc { position:relative; width:auto; margin:0 15px 0 20px; padding:0;
	float:left; font-size:18px; font-weight:bold }
.swMain ul.anchor li:first-child a .stepDesc { margin-left:5px; }
.swMain ul.anchor li:last-child a .stepDesc { padding-right:20px; }
.swMain ul.anchor li a.selected { background:#e51400; border:solid 1px #e51400;border-left:none; border-right:none }
.swMain ul.anchor li a.selected .stepDesc { font-weight:bold; color:white }
.swMain ul.anchor li a.selected:after { border-left-color:#e51400 }
.swMain ul.anchor li a.selected:before { border-left-color:white }
.swMain ul.anchor li:first-child a.selected { border-left:solid 1px #e51400 }
.swMain ul.anchor li a.done { background-image:url('../images/done.png') }
.swMain ul.anchor li a.selected[isdone="1"] { background-image:url('../images/selected_done.png') }
.swMain ul.anchor li a.error { background-image:url('../images/t.png'); }
.swMain ul.anchor li a.error.selected { background-image:url('../images/y.png') }
.swMain .buttonDisabled {
	cursor: default;
	background-image: none;
	opacity: 0.65;
	filter: alpha(opacity = 65);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.swMain .buttonNext {
	display: block;
	float: right;
}

.swMain .buttonPrevious {
	display: block;
	float: right;
}

.swMain .buttonFinish {
	display: block;
	float: right;
}

/* Form Styles */
.txtBox {
	border: 1px solid #b2b0b0;
	color: #5A5655;
	font: 13px Verdana, Arial, Helvetica, sans-serif;
	padding: 2px;
	width: 430px;
}

.txtBox:focus {
	border: 1px solid #EA8511;
}

.swMain .loader {
	position: relative;
	display: none;
	float: left;
	margin: 2px 0 0 2px;
	padding: 8px 10px 8px 40px;
	border: 1px solid #FFD700;
	font: bold 13px Verdana, Arial, Helvetica, sans-serif;
	color: #5A5655;
	background: #FFF url(../images/loader.gif) no-repeat 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	z-index: 998;
}

.swMain .msgBox {
	position: relative;
	display: none;
	float: left;
	margin: 4px 0 0 5px;
	padding: 5px;
	border: 1px solid #FFD700;
	background-color: #FFFFDD;
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
	color: #5A5655;
	-moz-border-radius: 5px;
	-webkit-border-radius : 5px;
	min-width: 200px;
	z-index: 999;
}

.swMain .msgBox .content {
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
	padding: 0px;
	float: left;
}

.swMain .msgBox .close {
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	color: #CCCCCC;
	display: block;
	float: right;
	margin: 0 0 0 5px;
	outline-style: none;
	padding: 0 2px 0 2px;
	position: relative;
	text-align: center;
	text-decoration: none;
}

.swMain .msgBox .close:hover {
	color: #EA8511;
	border: 1px solid #EA8511;
}