<style type="text/css">
    #menu-topo ul li.active a { background-color: #15008F!important }
</style>
<div class="container-fluid text-center text-uppercase">
    <br />
    <br />
    <br />
    <h2 class="catalogo-titulo-1">
        Agora Selecione
        <br />
        um item ao lado
    </h2>
    <img src="/img/logo_rifa.png" />
    <h4 class="catalogo-titulo-2">Material de Venda Online</h4>
</div>