<div class="container-fluid text-center text-uppercase">
    <br />
    <br />
    <br />
    <h2 class="catalogo-titulo-1">
        Selecione um
        <br />
        Item Acima
    </h2>
    <img src="/img/logo_rifa.png" />
    <h4 class="catalogo-titulo-2">Material de Vendas Online</h4>
</div>