<?php 
	if ($status == "erro") {
		echo "erro";
	} else {
?>
	<tr>
		<td colspan="1" width="5%"><?php echo $parceriaTurma['ParceriaTurma']['id'];?></td>
		<td colspan="1" width="20%"><?php echo $parceriaTurma['ParceriaTurma']['turma_id']; ?></td>
		<td colspan="1" width="60%"><?php echo $parceriaTurma['Turma']['nome'];?></td>
		<td colspan="1" width="15%">
			<?php echo$html->link('Remover', array($this->params['prefix'] => true, 'controller' => 'parcerias', 'action' =>'vincular_remover', $parceriaTurma['ParceriaTurma']['id']), array('id' => 'botao-remover', 'class' => 'submit button', 'onclick' => 'return removerLinha(this);')); ?>
        </td>
	</tr>
<?php }?>