.calendario-legenda div {
    position: relative;
    min-height: initial!important;
    color:white;
    text-indent:7px;
    border:solid 2px transparent;
    border-left: solid 5px rgba(255,255,255,.4);
}
.calendario-legenda div:hover { cursor:pointer; opacity:.8 }
.calendario-legenda div.filtrado:after {
    position: absolute;
    font-family: 'IcoMoon';
    right:5px;
    content:"\e02e";
    color:#333333;
}
.calendario-legenda .reunioes { background-color: #357ebd }
.calendario-legenda .eventos-as { background-color: #4cae4c }
.calendario-legenda .planejamento { background-color: #d43f3a }
.calendario-legenda .outros { background-color: #eea236 }
.calendario-legenda .meus { background-color:#D6D6D6; 
    border:solid 2px #333333!important;
    box-shadow: inset 50px 0px 1px 0px #333333;}
.calendar-container {
    position:relative;
    margin-bottom: 10px;
    overflow: hidden;
    border: 1px solid #ddd;
    font:300 14px 'Segoe UI Light','Open Sans',Verdana,Arial,Helvetica,sans-serif;
}
.calendar-container .calendar-header {
    background: #fff;
    padding:5px 20px;
    height:30px;
    position: relative;
    border-bottom: 1px solid #ddd;
    border-top: 5px solid #c41b14;
}
.calendar-container .calendar-header .calendar-options {
    float: left;
    width:70%;
}
.calendar-container .calendar-header .calendar-options button,
.calendar-container .calendar-header .calendar-options a.reload {
    color: #495468;
    background: white;
    width:auto;
    height:auto;
    float:right;
    border:none;
    padding:0;
    margin:5px 0 0 10px;
    font-weight:300;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
}
.calendar-container .calendar-header .calendar-options .btn-group,
.calendar-container .calendar-header .calendar-options .btn-group button {
    height:24px;
    min-height:24px;
}
.calendar-container .calendar-header .calendar-options a.reload {
    font-size:18px;
    height:18px;
    margin-top:8px;
}
.calendar-container .calendar-header .calendar-options button:hover,
.calendar-container .calendar-header .calendar-options a.reload:hover {
    color:#c41b14;
}

.calendar-container .calendar-header .calendar-nav {
    float:left;
    width:30%;
    position: relative;
}
.calendar-container .calendar-header .calendar-nav h2 {
    color: #495468;
    font-weight:300;
    font-size: 18px;
    line-height: 18px;
    margin:7px 0 0 0;
    text-align: center;
    text-transform: uppercase;
}
.calendar-container .calendar-header .calendar-nav h2 b {
    font-weight:300;
}
.calendar-container .calendar-header .calendar-nav h2 small {
    font-size: 11px;
    line-height:12px;
    font-weight:700;
    margin-left:8px;
    color: #b7bbc2;
}
.calendar-container .calendar-header .calendar-nav nav span {
    position: absolute;
    top:2px;
    width:auto;
    height: 30px;
    color: transparent;
    cursor: pointer;
    margin: 0 1px;
    font-size: 25px;
    line-height: 30px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.calendar-container .calendar-header .calendar-nav nav span:first-child {
    left:0px;
}

.calendar-container .calendar-header .calendar-nav nav span:last-child {
    right:0px;
}

.calendar-container .calendar-header .calendar-nav nav span:before {
    font-family: 'IcoMoon';
    color: #c41b14;
    position: absolute;
    text-align: center;
    width: 100%;
}

.calendar-container .calendar-header .calendar-nav nav span.custom-prev:before {
    content: "\e045";
}

.calendar-container .calendar-header .calendar-nav nav span.custom-next:before {
    content: "\e043";
}

.calendar-container .calendar-header .calendar-nav nav span:hover:before {
    color: #495468;
}

.calendar-container .calendar-content {
    padding:20px;
}
.custom-content-reveal {
    background: #f6f6f6;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position: absolute;
    z-index: 100;
    top: 100%;
    left: 0px;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.custom-content-reveal span.custom-content-close {
    position: absolute;
    top: 14px;
    right: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    background: #c41b14;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    cursor: pointer;
    line-height: 16px;
    padding: 0;
    font-size: 22px;
}

.custom-content-reveal span.custom-content-close:after {
    content: 'x';
    font-size: 18px;
    color: #fff;
}

#titulo-evento {
    text-transform: uppercase;
    margin-top:0;
    font-size: 13px;
    text-align: center;
    font-weight: 300;
    letter-spacing: 3px;
    color: #777;
    padding: 20px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    border-top: 5px solid #c41b14;
    box-shadow: 0 1px rgba(255,255,255,0.9);
    margin-bottom: 30px;
}

div.fc-content table thead tr th { color: #c41b14; background: transparent; border-width:0 0 1px 0!important;
                                   text-transform: uppercase; font-size:14px; font-weight:200;
                                   padding:0 0 7px 0; }
.fc-view-month table tr td { cursor: pointer }
tr.fc-week td:not(.fc-other-month) { background: white }
.fc-event {
    border-radius: 0!important;
    cursor: pointer;
    border:none!important;
    border-width:0!important;
    margin-left:-3px!important;
    overflow:hidden!important;
    border-left: solid 3px rgba(255,255,255,.4)!important; }
.fc-grid .fc-day-number { font-size:16px; line-height:16px; height:16px; margin-bottom:5px }
.fc-agenda .fc-agenda-axis { font-weight: 300 }
.evento-detalhes { line-height: 24px }
.evento-detalhes .prop { width:100px; display:inline-block }
.fc-event-title { overflow: hidden; white-space:nowrap; }
.fc-event-inner .fc-event-time { display: none!important }
.calendar-container .carregando-eventos { position: absolute; top:0; left:0;
    width:100%; height:100%; z-index:1003; background: white; background: rgba(255,255,255,.6); }
.calendar-container .carregando-eventos span { position:relative; display:table;
    padding: 8px 15px!important; margin:0 auto; margin-top:10%; font-size: 18px; font-weight: bold;
    line-height: 18px; background: #333; color:white; border-radius: 4px; }
.row-evento div { min-height: 25px!important }
.fc-event.meu { border:solid 1px #333333!important; box-shadow: inset 50px 0px 1px 0px #333333; }
.fc-event.comissao { border:solid 2px #9f00a7!important; box-shadow: inset 50px 0px 1px 0px #9f00a7; }