<span id="conteudo-titulo" class="box-com-titulo-header">Cadastro de Formando</span>
<div id="conteudo-container">
    <?php echo $form->create('Usuario', array('url' => "/formandos/adicionar", 'class' => 'form-cadastro-formando', 'id' => 'formulario-adesao')); ?>

    <?php include('_form.ctp'); ?>

    <div style="clear:both;"></div>
</div>