
<span id="conteudo-titulo" class="box-com-titulo-header">Turma e Formando selecionados</span>
<div id="conteudo-container">
<div class="container-tabela" width="auto">

<table>

<tr class="odd">

<tr>
	<td colspan="1" width="3%">Turma selecionada: <?php echo $turma; ?>
	</td>
	<td colspan="1" width="30%">Formando selecionado: <?php echo $formando; ?>
	</td>
<td colspan="1" width="33%"><?php echo $html->link('Confirmar', array($this->params['prefix'] => true,
							'controller' => 'formandos', 'action' =>'troca_efetuada',
							$idFormando, $turma),array('class' => 'submit button')); ?></td>
</tr>


</table>
</div>
</div>