<span id="conteudo-titulo" class="box-com-titulo-header">Troca efetuada</span>
<div id="conteudo-container" style="margin-left: 0;">


	<p class="grid_full alpha omega">
	
	
	<h2>
		Seu novo código do formando é <b><?php echo $novoFormando['ViewFormandos']['codigo_formando']?>
		</b>
	</h2>
	</p>
</div>
