<script type="text/javascript">
 	jQuery(function($) {
		$('#foto-formando', parent.document.body).html("<img src='<?php echo $this->webroot; ?><?php echo $urlDaImagemSalva;?>'/>");
 		$('#aviso-upload', parent.document.body).css("display","block");
		$('#diretorio-upload', parent.document.body).attr("value", "<?php echo $urlDaImagemSalva;?>");
		parent.$.fn.colorbox.close();	
 	});
</script>
	
      